<%
var payId = typeof payid != 'undefined' ? payid : course_payid;
if (!cur_term_id && cur_term_id!==0) {
    cur_term_id = terms[0].term_id;
}
%>
<div class="mod-course-banner">
    <img src="<%=cover_url%>90" alt="<%=name%>" class="mod-course-banner__img"/>
    <div class="mod-course-banner__content">
        <h3 class="mod-course-banner__title" title="<%=name%>"><%=name%></h3>
        <div class="mod-course-banner__content-line">
            <a href="http://<%=agency_domain%>" target="_blank" class="mod-course-banner__c-light" title="<%=agency_name%>"><%=agency_name%></a>
        </div>
    </div>
</div>
<div class="course-class<%=terms.length == 1 ? ' course-class--one' : ''%><%=terms.length == 3 ? ' course-class--three' : ''%>">
    <ul class="class-tt-list">
    <% function appendStatus(courseInfo){
            var statusText = '';
            var confirmStatus = {
                '2': 1,//支付成功
                '3': 1,//发货成功
                '6': 1,//交易待确认
                '7': 1//交易待审核
            };

            var paybackStatus = {
                '8': 1,//退款中
                '9': 1//退款确认
            };
            if (courseInfo.course_state === 4) {
                statusText = '(已结束)';
            } else if (courseInfo.pay_status === 4 || courseInfo.pay_status === 5) {
                statusText = '(已报名)';
            } else if (confirmStatus[courseInfo.pay_status]) {
                statusText = '(交易待确认)';
            } else if (paybackStatus[courseInfo.pay_status]) {
                statusText = '(退款处理中)';
            } else if(courseInfo.course_state === 2){
                statusText = '(正在上第' + courseInfo.curr_lesson + '节课)';
            } else if (e.course_state === 3){
                statusText = '(已上完第' + (courseInfo.curr_lesson - 1) + '节课)'
            }
            return statusText;
        }

        function acceptable(courseInfo) {
            if(courseInfo.passcard) {
                return !({
                    '2': 1,//支付成功
                    '3': 1,//发货成功
                    '4': 1,//发货失败
                    '5': 1,//交易成功
                    '6': 1,//交易待确认
                    '7': 1,//交易待审核
                    '8': 1,//退款中
                    '9': 1//退款确认
                }[courseInfo.passcard_status]);
            }

            return courseInfo.course_state !== 4 && courseInfo.role_type != 2 && !({
                '2': 1,//支付成功
                '3': 1,//发货成功
                '4': 1,//发货失败
                '5': 1,//交易成功
                '6': 1,//交易待确认
                '7': 1,//交易待审核
                '8': 1,//退款中
                '9': 1//退款确认
            }[courseInfo.pay_status]);
        }

        var minPrice = 100000;
        for(var i=0, len = terms.length; i < len; i++) {
            var e = terms[i];

            if (e.price < minPrice) {
             minPrice = e.price;
            }
        }

        for(var i=0, len = terms.length; i < len; i++) {

            var e = terms[i];

            if(e.hidden === 1) {
                continue;
            }

            var isXiaoban = !e.is_apply_over && e.is_small_term && e.remain_num<50;
        %>
        <li class="js-term-item <%=e.term_id == cur_term_id ? 'active' : ''%>
        <%=isXiaoban ? ' item--xiaoban':''%>"
            data-idx="<%=i%>"
            data-termid="<%=e.term_id%>"
            data-acceptable="<%=acceptable(e) ? '1' : ''%>">
               <%=e.passcard ? '班级通' : '<span class="item-name">'+e.name+'</span>'%>
                <%if(isXiaoban){%>
                    <span class="flag-orange" title="该班限额<%=e.sign_max%>人报名">小班</span>
                <%}%>
        </li>
        <%}%>

    </ul>
    <div class="class-content-list">
        <% for(var i=0, len = terms.length; i < len; i++) {
            var e = terms[i], statusText = appendStatus(e),
                hidden = true;

            if(cur_term_id === null && i === 0) {
                hidden = false;
            }

            if(cur_term_id !== null && cur_term_id === e.term_id) {
                hidden = false;
            }

            if(e.term_id === 0) {

                switch(e.passcard_status) {
                    case 4: ;
                    case 5: statusText = '(已报名)'; break;
                    case 2: ;
                    case 3: ;
                    case 6: ;
                    case 7: statusText = '(交易待确认)'; break;
                    case 8: ;
                    case 9: statusText = '(退款处理中)'; break;
                }

                statusText = e.termTimeString + statusText;

            } else {

                var termDuration = $.render.fomartTermDuration({
                    bgtime: e.bgtime,
                    endtime: e.endtime,
                    systime: typeof sys_time === 'undefined' ? new Date().getTime() : sys_time
                });

                statusText = termDuration.begin + ' 至 ' + termDuration.end + statusText;
            }
        %>


            <div class="js-term-item class-content <%=e.term_id == cur_term_id ? 'active' : ''%>"
                data-idx="<%=i%>"
                data-termid="<%=e.term_id%>"
                data-acceptable="<%=acceptable(e) ? '1' : ''%>">

                <h2 class="hidden-clip"><%=e.name%></h2>
                <p class="class-date"><%=statusText%></p>
                <div class="class-des"><%=e.introduce || ''%></div>
            </div>
        <% } %>

    </div>
</div>

<%if(typeof couponList != 'undefined' && couponList.length > 0){%>
<%var couponLength = couponList.length, maxCoupon = couponList[0], fixPrice = parseInt(maxCoupon.price / 100);%>
<div class="mod-course-banner_row js-coupon-menulist clearfix<%= source == 2 ? ' hide' : '' %>" style="z-index:1;">
    <div class="mod-course-banner_col1" style="padding-top: 7px;">优惠</div>
    <div class="mod-course-banner_col2">
        <div class="diy-select-area diy-select-on" data-pattern="tag">
            <a href="javascript:;" class="diy-select js-coupon-tag"><i class="text">省<%=fixPrice%>元：<%=fixPrice%>元优惠券</i><span><b></b></span></a>
            <ul class="diy-optgroud js-coupon-list" style="overflow-y: auto;height: 81px;">
                <%for(var couponIndex = 0; couponIndex < couponLength; couponIndex++){%>
                <%var coupon = couponList[couponIndex], fixPrice = parseInt(coupon.price / 100);%>
                <li class="diy-option<%=couponIndex == 0 ? ' selected' : ''%>" data-value="<%=couponIndex%>"><a href="javascript:;">省<%=fixPrice%>元：<%=fixPrice%>元优惠券</a></li>
                <%}%>
                <li class="diy-option" data-value="-1" style="border-bottom-width: 0px;"><a href="javascript:;">不使用优惠券</a></li>
            </ul></div>
    </div>
</div>
<%}%>
<div class="mod-course-banner_row clearfix">
    <div class="mod-course-banner_col1">价格</div>
    <div class="mod-course-banner_col2">
        <span class="mod-course-banner__price <%=e.price == 0 ? 'mod-course-banner__price_free': ''%>">
        <%
        var terms
        var couponInfo = {
            passcard_price: passcard === 1 ? passcard_price : 0,
            price: minPrice,
            cur_term_id: cur_term_id,
            coupon_price: (typeof couponList != 'undefined' && couponList.length > 0 ? couponList[0].price : 0),
            passcard: passcard
        };
        %>
        <%=$.render.formatCouponPrice(couponInfo)%>
        </span>

    </div>
</div>
<div class="mod-course-banner_row clearfix hide js-not-chose-tips">
    <div class="mod-course-banner_col2">
        <p class="mod-course-banner_tips"><i class="icon-font i-alert"></i>请先选择班级<p>
    </div>
</div>
<%if(source == 2){%>
<div>
    <div class="checkbox privilege-checkbox js-privilege-check" name="type">
        <i></i>
        <label>我已阅读并同意：通过非腾讯课堂平台与机构进行的支付交易，如果产生纠纷与责任，均由交易双方承担，与腾讯课堂无关。</label>
    </div>
</div>
<%}%>

<%if(payId !=1){%>
    <p class="pay-support">支持微信、财付通、银行卡支付</p>
<%}%>
