@charset "utf-8";

.datepicker{
    display: none;
    position: absolute;
    z-index: 200;
    margin-left: -1px;
    border: 1px solid #afafaf;
    width: 249px;
    height: 272px;
    overflow: hidden;
    background: #fff;
    font-size: 14px;
}
.datepicker-days{
    position: relative;
    width: 238px;
    height: 268px;
    margin: 7px auto 1px;
}
.datepicker-days table{
    position: relative;
    z-index: 10;
}
.datepicker-days .datepicker-days-bg{
    position: absolute;
    right: -2px;
    bottom: -10px;
    font-size: 160px;
    line-height: 1;
    z-index: 9;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.datepicker-days th{
    text-align: center;
    width: 34px;
    height: 24px;
    line-height: 24px;
    color: #333;
}
.datepicker-days .switch{
    width: 165px;
    font-weight: bolder;
}
.datepicker-days td{
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #333;
}
.datepicker-days .prev b,
.datepicker-days .next b,
.datepicker-days .lastYear b,
.datepicker-days .nextYear b{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    @include user-select(none);
}
.datepicker-days .prev i,
.datepicker-days .next i,
.datepicker-days .lastYear i,
.datepicker-days .nextYear i{
    position: absolute;
    top: -13px;
    font-size: 40px;
    line-height: 1;
    color: #999;
    cursor: pointer;
}
.datepicker-days .prev i,
.datepicker-days .lastYear i{
    left:10px;
}
.datepicker-days .next i,
.datepicker-days .nextYear i{
    right:10px;
}
.datepicker-days .lastYear i,
.datepicker-days .nextYear i{
    font-size: 30px;
    top: -6px;
}
.datepicker-days .prev:hover i,
.datepicker-days .next:hover i,
.datepicker-days .lastYear:hover i,
.datepicker-days .nextYear:hover i{
    color: #68b30f;
}
.datepicker-days .prev.disabled i,
.datepicker-days .next.disabled i,
.datepicker-days .lastYear.disabled i,
.datepicker-days .nextYear.disabled i{
    color: #a0a0a0;
}
.datepicker-days th.dow{
    border-bottom: 1px solid #e3e3e3;
    height: 34px;
    line-height: 34px;
}
.datepicker-days th.dow0,
.datepicker-days th.dow6{
    color: #e75407;
}
.datepicker-days td.old,
.datepicker-days td.new{
    visibility: hidden;
}
.datepicker-days .day{
    cursor: pointer;
}
.datepicker-days .disabled{
    color: #a0a0a0;
    cursor: default;
}
.datepicker-days .day:hover{
    color: #fff;
    background: #68b30f;
}
.datepicker-days .disabled:hover{
    color: #a0a0a0;
    background: none;
}
.datepicker-days .active,
.datepicker-days .active:hover{
    color: #fff;
    background: #68b30f;
}
/* WTF */
.datepicker-days .tr-view div{
    position: relative;
    width: 100%;
    height: 100%;
}
.datepicker-days .tr-view .day-today{
    font-size: 12px;
}
.datepicker-days .tr-view div i{
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 10;
    overflow: hidden;
    color: #333;
}
.datepicker-days .tr-view .pass i,
.datepicker-days .tr-view .not_allow i{
    color: #a0a0a0;
}
.datepicker-days .tr-view div b,
.datepicker-days .tr-view div u{
    width: 17px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 5px;
    background: #68b30f;
    display: none;
}
.datepicker-days .tr-view div u{
    left: auto;
    right: 0px;
}
.datepicker-days .tr-view .active{
    background: none;
    color: #333;
}
.datepicker-days .tr-view .date-view i{
    background: #68b30f;
    color: #fff;
}
.datepicker-days .tr-view .view-day-e b,
.datepicker-days .tr-view .view-day-m b,
.datepicker-days .tr-view .view-day-m u,
.datepicker-days .tr-view .view-day-b u{
    display: block;
}

