@charset "utf-8";

// MineCard
//
// 我的课程相关卡片
//
// @优化整理  fierayan
//
// Styleguide 25

// 收藏课程列表中卡片
//
// .mod-mine-card_register       - 报名记录列表中卡片
// .mod-mine-card_schedule       - 课程表列表中卡片
//
// Markup:
//<div class="clearfix mod-mine-card {$modifiers}">
//	<span class="mod-mine-card__register-time">报名时间: 6月26日 23:25</span>
//	<a href="#" class="mod-mine-card__img-wrap">
//		<img src="" alt="" class="mod-mine-card__img"/>
//	</a>
//	<div class="mod-mine-card__info">
//		<a href="#" class="mod-mine-card__class-name">课程名称课程名称课程名称课程名称最多几个字来着课程名称课程名称课程名称课程名称最多几个字来着</a>
//		<div class="mod-mine-card__teach-wrap">
//			<a href="#" class="mod-mine-card__teacher">讲师名字讲师名字</a>
//			<span class="mod-mine-card__sep">|</span>
//			<a href="#" class="mod-mine-card__agency">机构名称机构名称机构名称机构名称</a>
//		</div>
//		<div class="mod-mine-card__qun">
//			<i class="icon-qun-no-border"></i>
//			<a href="#" class="mod-mine-card__qun-name">群名群名群名群名群名群名群名群名群名群名群名群名</a>
//			<span class="mod-mine-card__qun-number">(1254488651)</span>
//		</div>
//		<div class="mod-mine-card__period"><i class="icon-calender"></i><span>7月10日起，每周 四 20:00~21:30，共20节</span></div>
//	</div>
//</div>
//
// Styleguide 25.1


.mod-mine-card {
	.mod-mine-card__register-time, .mod-mine-card__qun,.i-calender{
		display: none;
	}
}

.mod-mine-card__img-wrap {
	float: left;
	display: block;
	width: 90px;
	height: 50px;
}

.mod-mine-card__img {
	width: 90px;
	height: 50px;
}

.mod-mine-card__info {
	float: left;
	height: 50px;
	margin-left: 10px;
	position: relative;
	width: 436px;
	margin-top: -4px;
}

.mod-mine-card__class-name {
	display: block;
	font-size: 14px;
	@include max-width(436px);
	@include ellipsis();
	color: #3372a2;
	&:hover {
		color: #049ee4;
	}
}

.mod-mine-card__teach-wrap {
	font-size: 12px;
}

.mod-mine-card__teacher, .mod-mine-card__agency {
	display:inline-block;vertical-align:middle;
	color: #3372a2;
	&:hover {
		color: #049ee4;
	}
}

.mod-mine-card__sep {
	color: #999;
	display:inline-block;vertical-align:middle;
}

.mod-mine-card__period {
	font-size: 12px;
	color: #999;
}

// 报名记录列表中

.mod-mine-card_register {
	.mod-mine-card__qun,.i-calender{
		display: none;
	}
	.mod-mine-card__info {
		width: 375px;
	}
	.mod-mine-card__class-name {
		@include max-width(375px);
	}
	.mod-mine-card__register-time {
		display: block;
		color: #999;
		font-size: 12px;
		width: 375px;
		margin-bottom: 10px;
	}
}

// 课程表列表中

.mod-mine-card_schedule {
	.mod-mine-card__register-time {
		display: none;
	}
	.mod-mine-card__img-wrap, .mod-mine-card__img {
		width: 222px;
		height: 125px;
	}
	.mod-mine-card__info {
		height: 125px;
		width: 280px;
	}
	.mod-mine-card__class-name {
		@include max-width(280px);
		margin-bottom: 8px;
	}
	.mod-mine-card__teach-wrap{
		margin-bottom: 8px;
	}

	.mod-mine-card__qun {
		display: block;
		width: 280px;
		font-size: 12px;
		margin-bottom: 8px;
	}
	// .icon-qun-no-border {
	// 	display:inline-block;vertical-align:middle;
	// 	width: 16px;
	// 	height: 16px;
	// 	background: url("http://9.url.cn/edu/img/bg/icon_2.png#unsprite") no-repeat;
	// 	background-position: 0 -278px;
	// }
	.mod-mine-card__qun-name{
		display:inline-block;vertical-align:middle;
		@include max-width(170px);
		@include ellipsis();
		margin-left: 3px;
		color: #3372a2;
		&:hover {
			color: #049ee4;
		}
	}
	.mod-mine-card__qun-number{
		display:inline-block;vertical-align:middle;
	}
	.mod-mine-card__agency{
		@include max-width(130px);
		@include ellipsis();
	}
	.mod-mine-card__period{
		margin-top: 38px;
	}
	.i-calender{
		position: inherit;
		left: 0;
		top: 0;
		margin-top: -5px;
		margin-right: 3px;
		cursor: pointer;
	}
}
