@charset "UTF-8";
@import "mod.starlist";

.mod-comments {

  font-size:14px;
  color:#666666;
  visibility: hidden;

  .mod-comments-info__total , .mod-comments-info-score , .mod-comments-info__button {
    float:left;
    height:80px;
  }
  .mod-comments-info__total {
    width:110px;
    border-right: 1px dashed #DFDFDF;
    text-align: center;

    h3 {
      position: relative;
      top:5px;
      font-size:30px;
      color:#ffb300;
      font-weight: bold;
    }

    span {
      position: relative;
      top: -2px;
    }

  }

  .mod-comments-info-score {
     padding-left:25px;
     width:300px;

    i {
      *position: relative;
      *top:-3px;

      _position:static;
    }

    .star-label {
      *position: relative;
      *top:0px;
      _top:-2px;
    }

    .mod-comments-info__quality {
      position: relative;
      top:2px;
      overflow: hidden;
      _zoom:1;
    }

    .mod-comment-info__teacher   {
      position: relative;
      top:10px;
      overflow: hidden;
      _zoom:1;
    }

    .mod-comment-info__attitude   {
      position: relative;
      top:18px;
      overflow: hidden;
      _zoom:1;
    }



    .mod-comments-info__score-label  , .mod-comments-info_star {
      float:left;
    }
    .mod-comments-info__score-label {
      padding-right:3px;
    }
  }
  .mod-comments-info__button {
    float:right;
    display: none;

    a {
      @include inline-block();
      width:110px;
      height:40px;
      border:1px solid #d9d9d9;
      border-radius: 2px;
      text-align: center;
      line-height: 40px;
      color:#000;
      background: #f3f3f3;
      font-size: 16px;
      position: relative;
      top:20px;

      &:hover{
        border-color :#D9D9D9;
        background-color: #FFF;


        &:active {
          background-color: #DCDCDC;
        }
      }
    }

  }
  .mod-comments-info {
    overflow:hidden;
    padding:20px 0 25px 0 ;
    border-bottom: 1px solid #E6E6E6;
    _zoom:1;
  }


  .mod-comments-list {
    .grid-header-bg {
      display: none;
    }


    .grid-data {
      width: 100%;
      table-layout: fixed;

      td {
       height:150px;
      }

      .grid-col-1{
        width: 65px;
      }
      .grid-col-2{
        width: auto !important;
      }

      .no-data td {
        border-bottom: none;
      }

      .no-data.grid-row-hover {
        background:none;
      }

      .grid-col-1 div {
        padding-left:5px;
      }

      .grid-col-2 div {
         padding-right:5px;
      }

    }


    .mo-comments-list__col-1 {
      height:100%;

      position: relative;
      top:27px;

      *position: static;
      *top:auto;
    }

    .mod-comments-list__img {
      *margin-top:25px;
    }


    .mod-comments-list-item__title {
      float:left;
      color:#333333;
    }
    .mod-comments-list-item__date {
      float:right;
      color:#999999;
    }
    .mod-comments-list-item__content {
      @extend %word-break;
      padding:10px 0;
      height:52px;
    }
    .mod-comments-list-item__bottom {
      color:#999999;
      a {
        color:#365d82;
      }
    }

  }

  .page-box {
    .page-prev-btn , .page-next-btn {
      width : 55px;
    }
    .page-btn {
       width: 47px;
    }
  }

}
