@charset "utf-8";
.remindt {
    width:500px;
    margin-left:-250px;
}
.alert-tips {

    .remindt-header{
        margin:0px 0px 20px 56px;
    }

    .ipt{
        margin-left: 20px;
        padding-left: 4px;
        width: 242px;
        font-size: 14px;
        color: #666;
        border: 1px solid #dedede;

        &:-ms-input-placeholder {
            color: #a6a6a6;
        }
    }
    .yel-tip {
        margin-bottom: 20px;
    }
    .form-item-input-error {
        border: 1px solid #e16333;
    }
    .part-content {
        margin-bottom: 10px;
        white-space: normal;
        word-break: break-all;
        font-size: 12px;
        line-height: 20px;
        color: #666;
    }
    .part-row {
        margin-bottom: 15px;
        label{
            width: 32px;
            float: left;
            display: block;
        }
    }
    .part-row-desc {
        font-size: 12px;
        line-height: 20px;
    }

    .part-row-cont {
        margin-left: 29px;
        min-width: 160px;
        display: inline-block;
    }

    .part-list {
        color: #666;
    }

    .part-action {
        margin-left: 5px;
        cursor: pointer;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .i-group {
        color: #666;
    }
    .part-title {
        margin-top: 3px;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        /*white-space: nowrap;*/
        font-size: 18px;
        line-height: 30px;
        color: #202020;

        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        word-break: break-all;
    }

    .part-link {
        position: absolute;
        bottom: -48px;
        right: 124px;
        font-size: 12px;
    }

    .part-form {
        height: 0;
        overflow: hidden;
        transition: height .2s;
        color: #666;
    }

    .part-form-expand {
        height: 255px;
    }

    .part-tips {
        height: 30px;
        line-height: 30px;
    }

    .part-action-clear {
        margin-left: 10px;
        font-size: 12px;
        cursor: pointer;
    }

    .icon-msg-large {
        position: absolute;
        top: 30px;
        left: 40px;
        width: 36px;
        height: 36px;
    }
    .mrl22 {
        margin-left: 66px;
        margin-right: 0;
    }
    .error-tip-hidden {
        display: none;
    }

    // .tips-er-code{
    //     position: absolute;
    //     left: 40px;
    //     bottom: -55px;
    //     display: block;
    //     width: 25px;
    //     height: 25px;
    //     //background: url("../img/bg/er-code-icon/normal.png") no-repeat left bottom;
    //     background: url("../img/bg/er-code-icon.png") no-repeat 0 0;
    //     &:hover{
    //         //background-image: url("../img/bg/er-code-icon/hover.png");
    //         background-position: 0 -25px;
    //         padding-right: 7px;
    //         //.tips-er-code-float{
    //         //   display: block;
    //         //}
    //     }
    // }

    // .tips-er-code-float{
    //     position: absolute;
    //     left: 32px;
    //     bottom: 0;
    //     width: 114px;
    //     height: 141px;
    //     border: 1px solid #d4d4d4;
    //     padding: 14px 11px 9px 11px;
    //     display: none;
    //     background: white;
    //     cursor: default;
    //     img{
    //         cursor: default;
    //     }
    //     p{
    //         text-align: center;
    //         font-size: 12px;
    //         color: #313131;
    //     }
    // }

    .er-code-for-public-account-on-mobile{
        width: 114px;
        height: 114px;
        display: block;
        margin-bottom: 11px;
    }
    .btn-weak {
        color: #666;
    }

    .part-info-submit {
        margin-left: 53px;
        width: auto;
        height: 36px;
        line-height: 36px;
        padding: 0 26px;
        font-size: 14px;
    }

    .part-content-desc {
        display: inline-block;
        margin-right: 20px;
    }

    .modal-ft{
        padding: 20px;
        text-align: right;
        .btn-default{
            line-height: 36px;
            width: 100px;
        }
        .modal-ft-btn--link{
            padding-right: 20px;
        }
    }
}
.pay-succ {
    width: 575px;
    .icon{
        top: 30px;
    }
    .mrl22{
        margin: 0 30px 28px 96px;
    }
    .tips-bd{
        padding: 30px 0 0px 0;
        min-height: 160px;
        max-height: none;
        _heihgt: 232px;
        overflow: visible;
        *zoom: 1;

        .part{
            text-indent:0px;
        }
    }
    .modal-cancel {
        display: none;
    }

    .app-ad{
        border-top: 1px solid #dbdbdb;
        padding: 22px 0 40px;
        .icon-app{
            background: url("../img/bg/icon-app.png") no-repeat;
            float: left;
            width: 80px;
            height: 80px;
            margin-left: 96px;
            margin-right: 30px;
            position: relative;
            &:after{
                content: "扫码下载";
                width: 100%;
                position: absolute;
                top: 80px;
                color: #666;
                text-align: center;
            }
        }
        .ad-tt{
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 8px;
        }
        .app-link{
            display: inline-block;
            vertical-align: middle;
            line-height: 36px;
            background: #fff;
            color: #039ae3;
            border: 1px solid #039ae3;
            width: 100px;
            text-align: center;
            border-radius: 2px;
            &:hover{
                background: #04bbf7;
                color: #fff;
            }
        }
    }

    .tips-tool {
        display: none;
    }

/*  .part-form{
    height:200px;
  }*/
}


.part-id-code {
  .ipt {
    width:120px;
    margin-left:52px;
    float:left;
  }

  .btn {
    width:110px;
    height:38px;
    line-height: 38px;
    /*position: relative;
    top: -4px;*/
    margin-left:10px;
  }
}

// 报名弹窗
.mod-course-banner__price{
    color: #E85308;
    vertical-align: baseline;
    &.mod-course-banner__price_free{
        color: #5FB41B;
    }
}
.tips-buy-course{
    width: 650px;
    margin-left:-325px;
    .tips-des{
        margin: 20px 0 15px;
    }
    .tips-bd{
        @include max-height(600px);
        padding:40px 40px 10px;
        overflow: visible;
    }
    .mod-course-banner{
        width: 490px;
        height: 90px;
    }
    .mod-course-banner__img{
        width: 90px;
        height: 50px;
        float: left;
    }
    .mod-course-banner__content{
        position: relative;
        float: left;
        margin-left: 16px;
        width: 380px;
        min-height: 50px;
    }
    .mod-course-banner__title{
        font-size: 18px;
        @extend %ellipsis;
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
        line-height: 1.5;
    }
    .mod-course-banner__sep {
        margin: 0 10px;
        color: #C6C7C8;
        font-size: 12px;
    }
    .pay-support{
        position: absolute;
        bottom: -50px;
        color: #999;
    }
    .mod-course-banner__c-light{
        display: inline-block;
        vertical-align: middle;
        color: #999;
    }
    .mod-choose-time{
        position: relative;
        width: 490px;
    }
    .mod-choose-time_v2 {
        width: auto;
    }
    .mod-choose-time__li{
        background: #FFFFFF;
        &:hover{
            background: #EFF1F3;
        }
    }
    .mod-choose-time__time {
        max-width: 434px;
        _width: 434px;
    }

    .mod-course-banner__price  {
        margin-right: 6px;
    }
    .btn-default{
        width: 100px;
        height: 37px;
        line-height: 37px;
        font-size: 16px;
    }
    .btn-weak{
        width: 100px;
        height: 37px;
        line-height: 37px;
        font-size: 16px;
        border:1px solid #D9D9D9;
        background: #F3F3F3;
        &:hover{
            background:#FDFDFD;
        }
        &:active{
            background:#EBEBEB;
        }
    }
    .course-class{
        margin-bottom: 18px;
    }
    .mod-course-banner_row {
        width: 500px;
        @extend %clearfix;
        margin-bottom: 18px;
    }
    .mod-course-banner_tips {
        margin-top: -10px;
        color: #e85308;
    }
    .privilege-checkbox{
        height: auto;
        line-height: 25px;
        i{
            top: 3px;
        }
    }
    .mod-course-banner_col2{
        .i-alert {
            margin-right: 6px;
        }
    }

    .mod-course-banner_col1 {
        float: left;
        width: 40px;
        padding-top: 3px;
    }
    .mod-course-banner_col2 {
        float: right;
        width: 442px;
    }
    .raw-price{
      text-decoration: line-through;
    }
    .raw-price-range{
      color: #999;
      padding-left: 10px;
    }
    .mod-course-banner__price  {
        span {
            font-size: 14px;
        }
        .fontsize-22 {
            font-size: 22px;
        }
    }
}