@charset "utf-8";

// 群卡片
// @css fierayan

.mod-qun-card{
	width:290px;
	height:90px;
	font-size: 0;
}
.mod-qun-card__img-wrap,.mod-qun-card__img{
	display:inline-block;vertical-align:middle;
	vertical-align: top;
	width: 90px;
	height: 90px;
}
.mod-qun-card__right-wrap{
	display:inline-block;vertical-align:middle;
	vertical-align: top;
	padding-left: 15px;
	width: 185px;
	height: 90px;
	position: relative;
}
.mod-qun-card__name{
	position: absolute;
	left: 15px;
	top: -5px;
	display: block;
	width: 185px;
	font-size: 14px;
	@include ellipsis();
	color:#333333;
	transition: .3s;
	&:hover{
		color: #62B4F7;
	}
}
.mod-qun-card__des,.mod-qun-card__resign-number{
	font-size: 12px;
	position: absolute;
	left: 15px;
	top: 19px;
	width: 185px;
	@include ellipsis();
	color: #999999;
	height:20px;
}
.mod-qun-card__resign-number{
	top:38px;
}
.mod-qun-card__operation{
	position: absolute;
	left: 15px;
	bottom: 0;
	.btn-default{
		width: 60px;
		height: 30px;
		line-height: 30px;
		border: none;
	}
	.btn-open{
		margin-right:10px;
	}
}
