@charset "utf-8";

// ChooseTime
//
// 选择上课时间组件
//
// css @fierayan
//
// Styleguide 16

// 默认样式
//
// Markup:
//<div class="mod-choose-time mod-choose-time_pop" style="position:relative;display:block;">
//	<i class="icon-triangle"></i>
//	<ul>
//		<li class="mod-choose-time__li mod-choose-time__li_current">
//			<i class="icon-corner-selected"></i><i class="icon-calender"></i>
//			<span class="mod-choose-time__time">4月8日起，每周四 15:30~15:45</span>
//		</li>
//		<li class="mod-choose-time__li">
//			<i class="icon-corner-selected"></i><i class="icon-calender"></i>
//			<span class="mod-choose-time__time">4月8日起，每周四、五、六 13:30~14:45</span>
//		</li>
//		<li class="mod-choose-time__li mod-choose-time__li_last">
//			<i class="icon-corner-selected"></i><i class="icon-calender"></i>
//			<span class="mod-choose-time__time">4月8日起，每周四、五、六 13:30~14:454月8日起，每周四、五、六 13:30~14:454月8日起，每周四、五、六 13:30~14:45</span>
//		</li>
//	</ul>
//</div>
//
// Styleguide 16.1

.mod-choose-time{
	z-index: 999999;
	position: absolute;
	width: 425px;
	.icon-triangle{
		position: absolute;
		top:-10px;
		right: 105px;
	}
	ul{
		@include max-height(123px);
		overflow-y: auto;
		overflow-x: hidden;
		padding-bottom: 1px;
	}
	.mod-choose-time__li{
		cursor: pointer;
		padding-left: 20px;
		position: relative;
		height: 40px;
		line-height: 40px;
		color: #333;
		border: 1px solid $colorBorder;
		margin-bottom: -1px;
		&:hover{
			background: #EFF1F3;
		}
		.icon-corner-selected{
			display: none;
			position: absolute;
			top:0;
			left: 0;
		}
		&.mod-choose-time__li_current{
			z-index: 2;
			border-color: $green;
			.icon-corner-selected{
				display: block;
			}

		}

	}
	.mod-choose-time__time{
		position: absolute;
		right: 10px;
		top: 0;
		color: #999;
	}
	.mod-choose-time_pop {
		@include max-width(440px);
		display: none;
		ul {
			_position: relative;
			@include max-height(410px);
			overflow-y: auto;
		}
	}
}


// 时间选择组件第二版

.mod-choose-time_v2{
	width: 480px;
	.mod-choose-time__tab{
		font-size: 0;
		z-index: 2;
	}
	.mod-choose-time__tab-item{
		position: relative;
		display:inline-block;vertical-align:middle;
		font-size: 14px;
		background-color: #F9F9F9;
		border: 1px solid #DDDDDD;
		border-bottom: none;
		margin-left: -1px;
		z-index: 1;
		&.mod-choose-time__tab-item_first{
			margin-left: 0;
		}
		i{
			display: none;
		}
		&:hover{
			/*border-color:#ddd;*/
			/*z-index: 2;*/
			background: #ffffff;
		}
	}
	.mod-choose-time__tab-item_current{
		overflow: hidden;
		z-index: 2;
		border: 1px solid #68B30F;
		background: #ffffff;
		margin-bottom: -1px;
		padding-bottom: 1px;
		border-bottom: none;
		i{
			display: block;
			_display:none;
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			left: -26px;
			overflow: hidden;
			border: 16px solid transparent;
			border-top-color: #68b30f;
		}
		&:hover{
			border-bottom-color: #ffffff;
		}
	}
	.mod-choose-time__tab-item_default {
		overflow: hidden;
		z-index: 2;
		border: 1px solid #ddd;
		background: #ffffff;
		margin-bottom: -1px;
		padding-bottom: 1px;
		border-bottom: none;
		i {
			display: none;
		}
	}
	.mod-choose-time__tab-link{
		display:inline-block;vertical-align:middle;
		width: 100px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color:#333333;
	}
	.mod-choose-time__content{
		/*width: 478px;*/
		width: 100%;
		position: relative;
		display:inline-block;vertical-align:middle;
		border: 1px solid #ddd;
		z-index: 1;
		background: #ffffff;
		color:#333333;
		cursor: pointer;
		box-sizing: border-box;
	}
	.mod-choose-time__content_selected {
		border-color: #68B30F;
		overflow: hidden;

		i {
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			left: -26px;
			overflow: hidden;
			border: 16px solid transparent;
			border-top-color: #68b30f;
		}
	}
	.mod-choose-time__time{
		display:inline-block;vertical-align:middle;
		padding: 0 15px 0 18px;
		max-width: 445px;
		_width: 445px;
		height: 30px;
		line-height: 30px;
		@include ellipsis();
	}

	// 只有选项，没有具体内容

	&.mod-choose-time_simple{
		.mod-choose-time__tab-item{
			border: 1px solid #DDDDDD;
			&:hover{
				border: 1px solid #68B30F;
			}
		}
		.mod-choose-time__tab-item_current{
			border: 1px solid #68B30F;
			margin-bottom:0;
		}
	}

	// 浮层中

	&.mod-choose-time_pop{
		width: 393px;
		.mod-choose-time__content{
			width: 393px;
		}
		.mod-choose-time__time{
			width: 358px;
		}
	}

	.hide {
		display: none;
	}
}
