@charset "utf-8";

// 升级进度组件
// @css fierayan

// agency-card 里的小进度条
.mod-process{
	position: relative;
	span{
		display:inline-block;vertical-align:middle;
		vertical-align: middle;
	}
}
.mod-process__level-text{
	font-size: 14px;
	color: #666666;
}
.mod-process__line{
	display:inline-block;vertical-align:middle;
	vertical-align: middle;
	position: relative;
	width: 180px;
	height: 14px;
	margin-left: 10px;
}
.mod-process__level-outer,.mod-process__level-inner{
	position: absolute;
	top: 0;
	left: 0;
	width: 178px;
	height: 12px;
	border-radius: 12px;
	background: #FFFFFF;
	border:1px solid #E5E5E5
}
.mod-process__level-inner{
	background: #039BE1;
	border:1px solid #0A89C3;
}

// 大进度条

.mod-process_large{
	height: 78px;
	.mod-process__level-text{
		font-size: 27px;
		color: #333;
		position: absolute;
		right: 740px;
		top: 3px;
		&.mod-process__level-text_right{
			right:auto;
			left: 740px;
		}
	}
	.mod-process__line{
		width: 610px;
		position: absolute;
		left: 50%;
		margin-left: -305px;
		top:17px;
	}
	.mod-process__level-outer,.mod-process__level-inner{
		width: 608px;
	}
	.mod-process__wrap-mark{
		position: absolute;
		width: 610px;
		height: 30px;
		top: -35px;
		left: 0;

		.icon-mark-1{
			left: 0;
		}
		.icon-mark-2{
			left: 155px;
		}
		.icon-mark-3{
			left: 300px;
		}
		.icon-mark-4{
			left: 455px;
		}
		.icon-mark-5{
			left: 605px;
		}
	}
	.mod-process__mark{
		position: absolute;
		width:52px;
		height:30px;
		bottom:0;
		.icon-sep{
			position: absolute;
			bottom: 0;
			height: 10px;
			left: 20px;
		}
		.mod-process__mark-text{
			position: absolute;
			width: 52px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			color: #333;
			font-size: 14px;
			top: 0;
			left: 0;
		}
		&.mod-process__mark_1{
			left: 0;
			.mod-process__mark-text{
				text-align: left;
			}
			.icon-sep{
				left: 0;
			}
		}
		&.mod-process__mark_2{
			left: 133px;
		}
		&.mod-process__mark_3{
			left: 270px;
		}
		&.mod-process__mark_4{
			left: 415px;
		}
		&.mod-process__mark_5{
			right: 2px;
			.mod-process__mark-text{
				text-align: right;
			}
			.icon-sep{
				left: 40px;
			}
		}
	}
	.mod-process__mark-pop{
		cursor: default;
		bottom:-54px;
		position: absolute;
		height: 33px;
		line-height: 33px;
		width: 215px;
		text-align: center;
		color: #ffffff;
		background: #039BE1;
		border:1px solid #0A89C3;
		border-radius: 2px;
		.icon-blue-arrow{
			position: absolute;
			top: -5px;
			left:41px;
			width: 0;
			height: 0;
			border-bottom: 5px solid #039be1;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
}