@charset "utf-8";


.star-list {

  i {
    display: inline-block;
    width:15px;
    height:15px;
    margin: 0 3px 0 3px;
    background: url("/common/img/bg/c-sprite.png") no-repeat -163px -20px;
    cursor : pointer;

    &.half-star {
      background: url("/common/img/bg/c-sprite.png") no-repeat -350px -28px;
    }

    &.no-star {
      background: url("/common/img/bg/c-sprite.png") no-repeat -163px 0;
    }
  }

  .star-label {
    margin-left:8px;
    position: relative;
    top:-3px;
    color:#e85308;
  }

  i.no-event {
    cursor :auto;
  }
}