@charset "utf-8";

// 明星学员，明星老师，圆形头像组件
// css @fierayan

.mod-star{
	width: 450px;
	height: 140px;
	padding-top: 15px;
}
.mod-star__img-wrap{
	width: 128px;
	height: 128px;
	float: left;
	position: relative;
}
.mod-star__img{
	width: 128px;
	height: 128px;
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
	border-radius: 64px;
}
.mod-star__right-wrap{
	float: left;
	width: 295px;
	padding-left: 15px;
	margin-top: -5px;
}
.mod-star__name{
	.icon-sep{
		margin: 0 10px;
		vertical-align: -1px;
	}
	font-size: 16px;
    max-width: 310px;
	color: #333333;
    @include inline-block();
	&:hover{
		color: #62B4F7;
	}
}
.mod-star__des{
	color:#999999;
	cursor: default;
	padding-top: 5px;
	@include ellipsis-lines(7);
	font-size: 14px;
}


// 学员，名称不可点，无按钮

.mod-star_student{
	.mod-star__img-wrap{
		cursor: default;
	}
	.mod-star__name{
		cursor: default;
		font-size: 16px;
		color: #333333;
		&:hover{
			color: #333333;
		}
	}
}
