@charset "utf-8";

// 课程班级切换


.icon-class-over,
.icon-class-full,
.icon-class-past,
.icon-class-applyed{
	background: url("/common/img/bg/c-sprite.png#unsprite") no-repeat;
	width: 93px;
	height: 65px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.icon-class-over{
	background-position: 0 -50px;
}
.icon-class-past{
	background-position: -100px -50px;
}
.icon-class-full{
	background-position: -200px -50px;
}
.icon-class-applyed{
	background-position: -300px -50px;
}
.course-class{
	&.course-class--one{
		.class-tt-list{
			display: none;
		}
		.class-content{
			border-top: 1px solid $colorBorder;
			padding-top: 20px;
			.hidden-clip{
				clip: inherit;
				top: -20px;
				font-size: 16px;
				background: #fff;
				line-height: 35px;
				padding: 0 5px;
			}
		}
	}
	.class-tt-list{
		width: 100%;
		height: 35px;
		border-bottom: 1px solid $colorBorder;
		.flag-orange{
			padding: 1px;
			vertical-align: 2px;
			margin-left: 5px; 
			width: 28px;
			box-sizing: border-box;
		}

		li{
			float: left;
			padding: 0 14px;
			line-height: 35px;
			font-size: 16px;
			background: #fff;
			cursor: pointer;
			color: #666;
			box-sizing: border-box;
			position: relative;

			&.active,
			&:hover{
				color: $primary;
			}
			&.active{
				border: 1px solid $colorBorder;
				border-bottom: 0;
			}
		}
		
	}
	.class-content{
		display: none;
		border: 1px solid $colorBorder;
		border-top: 0;
		padding: 10px 15px 20px;
		position: relative;

		&.active{
			display: block;
		}
		.price{
			position: absolute;
			left: 10px;
			font-size: 22px;
			bottom: -16px;
			background: #fff;
			padding: 0 5px;
		}
		&.class-content--no-des{
			.class-date{
				line-height: 3;
			}
		}
	}
}
.course-class--three{
	.class-tt-list{
		.flag-orange{
			position: absolute;
			top: 10px;
			right: 12px;
		}
		li{
			&.item--xiaoban{
				padding-right: 45px;
				.item-name{
					max-width: 117px;
				}
			}
		}
		.item-name{
			float: left;
			max-width: 148px;
			@extend %ellipsis;
		}
	}
}

@media only screen and (max-width: 1199px) {
	.course-class--three .class-tt-list{
		.flag-orange{
			right: 6px;
		}
		li{
			padding: 0 9px;
			.item-name{
				max-width: 133px;
			}
			&.item--xiaoban{
				padding-right: 38px;
				.item-name{
					max-width: 103px;
				}
			}
		}
	}
}