@charset "utf-8";

// 表格组件
// @css fierayan

.mod-table{
	width: 100%;
	font-size: 14px;
	td,th{
		border:1px solid #E9E9EA;
	}
	th{
		background: #F4F5F7;
		height:45px;
		font-weight: bold;
	}
	td{
		height:42px;
		color: #666666;
	}
}
.mod-table__td_current{
	background: #F2FAFD;
}