@charset "utf-8";

//---------------------------------------------------------------------------
// 学习任务
//---------------------------------------------------------------------------

// flag
.flag-orange,
.flag-white,
.flag-gray{
	color: $orange;
	border: 1px solid;
	padding: 1px;
	line-height: 1;
	font-size: 12px;
	border-radius: 2px;
	margin-left: 4px;
	display: inline-block;
	vertical-align: 0;
}
.flag-white{
	color: #fff;
}
.flag-gray{
	color: #999;
}
.flag-orange-bg{
	background: $orange;
	color: #fff;
	padding: 2px;
	vertical-align: 0;
	font-size: 12px;
	display: inline-block;
	border-radius: 2px;
	line-height: 1;
}

// task-schedule
.task-schedule{
	position: relative;
	padding: 32px 120px 33px;

	&.task-schedule--over,
	&.task-schedule--no-begin{
		.progress-your-plan,
		.progress-course-plan,
		.schedule-progress-wrap .plan-point{
			display: none;
		}
	}

	&.task-schedule--overdue{
		.schedule-progress-wrap{
			.percent{
				background: #a7a7a7;
			}
			.progress-your-plan{
				color: #666;
			}
		}
	}

	.schedule-start,
	.schedule-end{
		position: absolute;
		top: 50%;
		margin-top: -12px;
	}
	.schedule-start{
		left: 10px;
	}
	.schedule-end{
		right: 10px;
	}
	.schedule-progress-wrap{
		position: relative;
		.schedule-progress{
			background: #ccc;
			height: 15px;
			border-radius: 8px;
			overflow: hidden;
			position: relative;
		}
		.percent{
			background: $primary;
			display: block;
			height: 100%;
			width: 0;
			overflow: hidden;
			border-radius: 8px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.percent-inner {
			background: $primary;
			display: block;
			height: 100%;
			width: 0;
		}
		.undo-point{
			position: absolute;
			top: 0;
			left: 30px;
			height: 100%;
			background: #ccc;
			width: 10px;

			&:hover {
				.hover-tips {
					display: block;
				}
			}
		}
		.undo-point--half{
			width: 5px;
			left: 100px;
		}
		.undo-point-round-left {
			border-radius: 8px 0 0 8px;
		}
		.undo-point-round-right {
			border-radius: 0 8px 8px 0;
		}
		.plan-point{
			position: absolute;
			width: 4px;
			height: 100%;
			background: $green;
			left: 0;
			top: 0;
			margin-left: -2px;
		}
	}
	.plan-text{
		position: absolute;
		left: 11px;
		top: 0;
		width: 190px;
		&.text--left{
			left: auto !important;
			right: 25px;
			text-align: right;
		}
	}
	.progress-your-plan{
		position: absolute;
		left: 0;
		top: -26px;
		color: $primary;
		vertical-align: top;

		.plan-text{
			display: none;
			width: 100px;
		}
	}
	.progress-course-plan{
		position: absolute;
		left: 60%;
		bottom: -26px;

		.plan-text{
			width: 120px;
			left: 18px;
			&.text--left{
				right: 30px;
			}
			&.text--live{
				width: 180px;
			}
		}
	}
}

// line right
.line-right{
	position: absolute;
	top: 0;
	right: 10px;
	color: $gray9;
	.icon-remind{
		background: url("/common/img/bg/c-sprite.png#unsprite") no-repeat -374px -26px;
		width: 23px;
		height: 22px;
		display: inline-block;
		vertical-align: -5px;
		margin-right: 5px;
	}
	.time--overdue{
		color: #e85308;
	}
}

// chapter
.task-chapter{
	.chapter-tt{
		line-height: 60px;
		border-bottom: 1px solid $colorBorder;
		font-size: 18px;
	}
	+ .task-chapter{
		.chapter-tt{
			border-top: 1px solid $colorBorder;
		}
	}
	.task-task-list{
		margin-left: 20px;
		margin-right: 20px;
	}
}
.task-part-list{
	padding-top: 30px;
	padding-bottom: 1px;
}

.task-part-item{
	margin-bottom: 20px;
	.task-part-hd{
		height: 40px;
		line-height: 40px;
		height: 40px;
		background: $grayF;
		position: relative;
		margin-bottom: 20px;
	}
	.part-tt{
		font-size: 16px;
	}
	.tt-prefix{
		background: $gray6;
		color: #fff;
		width: 70px;
		text-align: center;
		font-size: 18px;
		float: left;
		margin-right: 10px;
	}
	.flag-orange-bg{
		margin-left: 5px;
	}

}
// 机构侧的任务列表不需要hover效果，所以此处将&:hover拆分出来
.task-task-list{
	.task-task-item{
		position: relative;
		line-height: 40px;
		padding-left: 53px;
		display: block;
		width: 100%;
		color: #333;
		box-sizing: border-box;
		.item-icon{
			position: absolute;
			left: 0;
			top: 0;
			width: 53px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 24px;
			color: $blueLight;
		}
		.task-tt-text{
			@extend %ellipsis;
			display: inline-block;
			vertical-align: middle;
		}
		.tt-suffix{
			color: $gray9;
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
		}
		.icon-playback{
			    position: relative;
			    color: #999;
			    border: 1px solid;
			    border-radius: 2px;
			    margin-left: 10px;
			    height: 14px;
			    width: 16px;
			    display: inline-block;
			    vertical-align: middle;
			&:before{
				position: absolute;
				left: 6px;
				top: 2px;
				@include triangle(right, 5px);
			}
		}
		.btn-s{
			right: 10px;
			margin-top: -15px;
		}
		.item-progress{
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
			width: 50px;
			background: $grayC;
			height: 4px;
			.percent{
				display: block;
				height: 4px;
				background: $green;
			}
		}
		.hover-guide{
			display: none;
			color: $primary;
			.i-v-right{
				font-size: 22px;
				vertical-align: -1px;
			}

		}
		.i-right{
			font-size: 24px;
			color: $green;
			vertical-align: -3px;
			margin-left: 10px;
		}
		&.task-task-item--done{
			.item-icon{
				color: #999;
			}
		}
		&.task-task-item--disabled{
			.item-icon,
			.task-tt{
				color: #999;
			}
		}
	}
	a.task-task-item{
		&:hover{
			background-color: $blueLight;
			.item-icon{
				color: $primary;
			}
			.hover-guide{
				display: inline-block;
				~ .item-num-percent,
				~ .item-progress,
				~ .i-right,
				~ .item-score{
					display: none;
				}
			}
		}
	}
}

.tips--pointer{
	left: 50%;
	margin-left: -50px;
	width: 100px;
	line-height: 24px;
	padding: 0 5px;
}