@charset "utf-8";


.tips-comment-outer{
  width: 450px;
  height: 356px;
  .tips-hd, .tips-tool{display: none}
  .tips-bd{height: 100%; overflow: hidden;}
}

.commentbox {
    width: 450px;
    height: 356px;

    margin-left: 0;
    margin-top: 0!important;
    top: 0; left: 0;
    border-radius: 0;
    .btn-close{display: none;}
	.tips-bd {
		padding: 0;
		overflow-y: inherit;
		overflow-x: inherit;
	}

	.commentbox-hd {
	  padding: 24px 20px 12px 20px;
      background-color: #fff;
      font-size: 16px;
	}
	.commentbox-hd-avatar {
		float: left;
		width: 100px;
		font-size: 0;
		line-height: 0;
	}
	.commentbox-hd-content {
		float: left;
	}
	.commentbox-hd-name {
		margin-bottom: 8px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
       width: 380px;
       word-wrap: normal;

		a {
			font-size: 18px;
			line-height: 20px;
			color: #333;
		}
	}
	.commentbox-hd-relations {
		font-size: 12px;
		line-height: 1;

		i {
			margin: 0 5px;
			border-left: 1px solid #a5a5a5;
			border-right: 1px solid #dcdcdc;
		}

		a {
			color: #1d93f7
		}
	}
	.commentbox-hl {
		color: #e85308;
        //margin-left: 20px;
        float: left;
        padding-left: 20px;
        .i-alert{
        	margin-right: 5px;
        }

    }
	.commentbox-bd {
		padding-left: 20px;
	}

	.commentbox-bd-row {
		font-size: 14px;
        margin-bottom: 3px;
	}

    .comment-bd-row--text{
      margin-top: 15px;
    }

    .comment-bd-row-margin {
      margin-top:10px;
      margin-bottom:5px;
    }
	.commentbox-bd-row-col1 {
		float: left;
	}
	.commentbox-bd-row-col2 {
	  float: left;
      i {
        *position: relative;
        *top:-3px;

        _top:3px;
      }

      .star-label {
        _position: relative;
        _top:-3px;
      }
	}
	.commentbox-bd-comment {
		padding: 10px;
		overflow: auto;
		width: 386px;
		height: 54px;
		resize: none;
		border: 1px solid #dedede;
        vertical-align: middle;
        margin-bottom: 8px;
	}
	.commentbox-bd-comment-warp {
		color: #999;
		font-size: 14px;
		line-height: 1;
        float: left;
	}
	.commentbox-bd-comment-warp-count {
		display: inline-block;
		margin: 0 2px;
		min-width: 27px;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		font-style: italic;
		font-family: Constantia,Georgia;
	}
    .commentbox-bd-comment-warp-count-out {
        color:#e80808;
    }

  .comment-share-box{
    float: right; height: 18px; line-height: 18px;margin-right:22px;
    .checkbox{
      margin-left: 10px;
    }
    i{
      margin-left: 5px;margin-top: 3px;
    }
    label{cursor: pointer;}
  }
  .tips-tool{

    .modal-accept, .modal-cancel{padding:0; width: 100px;}
  }
}

