<!-- 
    opt = {
        simplify: true,  //简化模式，少了第二行
        sIndex:   1,     //首页楼层上报用
        fIndex:   2       //首页楼层上报用
    }

 -->
<ul class="course-card-list">
<% 
    opt || (opt = {});
    var userAgent = navigator.userAgent.toLowerCase(),
        isSupportWebp = false;

    if(userAgent.indexOf('chrome') != -1 || userAgent.indexOf('opear') != -1) {
        isSupportWebp = true;
    }

    for(var i = 0, len = course_list.length; i < len; i++) {
        var item = course_list[i],
            now = new Date(),
            bgTime, courseURL, course_score_str, apply_num_str, 
            cardPos = null, isToday = false, isClassOn = false;

        if(item.type !== 2 && item.sub_bgtime) {
            bgTime = new Date(item.sub_bgtime * 1000);

            if(bgTime.getFullYear() === now.getFullYear() && bgTime.getMonth() === now.getMonth() && bgTime.getDate() === now.getDate()) {
                isToday = true;
            }
        }

        if(item.type === 2) {
            apply_num_str = item.see_num;
        } else {
            if(item.apply_num < 10000) {
                apply_num_str = item.apply_num;
            } else if(item.apply_num >= 10000 && item.apply_num < 100000000) {
                apply_num_str = Math.floor(item.apply_num / 10000) + '万';
            } else {
                apply_num_str = Math.floor(item.apply_num / 100000000) + '亿';
            }
        }
        

        if(item.type !== 2 && now / 1000 > item.sub_bgtime && now / 1000 < item.sub_endtime) {
            isClassOn = true;
        }

        typeof item.course_id == 'undefined' && (item.course_id = item.id);

        if(item.course_id) {
            item.course_id = item.course_id;
        } else if(item.id) {
            item.course_id = item.id;
        } else {
            item.course_id = item.cid;
        }

        if(item.curr_lesson === undefined) {
            item.curr_lesson = item.cur_lesson;
        }

        typeof item.room_url === 'undefined' && (item.room_url = item.room_url_4client);

        courseURL = 'http://ke.qq.com/cgi-bin/courseDetail?course_id=' + item.course_id;

        course_score_str = Math.floor(item.course_score / 100) + '.' + Math.floor(item.course_score % 100 / 10);

        if(opt.cardPos) {
            cardPos = opt.cardPos + '.' + (i + 1);
        }

    %>
    <li class="course-card-item<%= isClassOn && !opt.simplify ? ' now' : '' %>"<% if(opt.fIndex) { %> jump-start="topfloor_class_click" jump-through="<%=opt.fIndex%>&<%=opt.sIndex%>&<%= i + 1 %>"<% } %>>
 
        <a href="<%=courseURL%>" target="_blank" class="item-img-link" data-id="<%=item.course_id%>" data-index="<%= i + 1 %>" report-tdw="action=Coursecard_Coursecover-clk&ver1=<%=item.course_id%>&ver3=<%=cardPos%>">
            <% if(opt.lazyload) { %>
                <img lazy-src="<%=item.cover_url%>220" alt="<%=item.name%>" title="<%=item.name%>" class="item-img" width="220" height="124"/>
            <% } else { %>
                <% if(isSupportWebp) { %>
                <img src="<%=item.cover_url%>220?tp=webp" alt="<%=item.name%>" title="<%=item.name%>" class="item-img" width="220" height="124" onerror="this.src='<%=item.cover_url%>';this.onerror=null;"/>
                <% } else { %>
                <img src="<%=item.cover_url%>220" alt="<%=item.name%>" title="<%=item.name%>" class="item-img" width="220" height="124" onerror="this.src='http://9.url.cn/edu/img/img-err2.png'"/>
                <% } %>
            <% } %>
        </a>
        <% if(isClassOn && !opt.simplify) { %>
        <a class="item-now-link js-open-tencent" href="javascript:void(0);" data-tid="<%=item.term_id%>" data-aid="<%=item.agency_id%>" data-cid="<%=item.course_id%>" data-type="<%=item.type%>" data-target="<%=item.room_url%>"<%= item.room_url.indexOf("http") === 0 ? ' target="_blank"' : '' %> report-tdw="action=Coursecard_Courseenter-clk&ver1=<%=item.course_id%>&ver3=<%=cardPos%>">进入课堂<span class="icon-font i-v-right"></span></a>
        <% } %>
        <%  if(item.activity_label && item.activity_label.length !== 0 && item.activity_label[0].icon_url) { %>
        <a href="<%=item.activity_label[0].activity_url%>" title="<%=item.activity_label[0].name%>" class="item-activity" target="_blank"><img src="<%=item.activity_label[0].icon_url%>"/></a>
        <% } %>
        <h4 class="item-tt">
            <a href="<%=courseURL%>" target="_blank" class="item-tt-link" title="<%=item.name%>" report-tdw="action=Coursecard_Coursesname-clk&ver1=<%=item.course_id%>&ver3=<%=cardPos%>"><%=item.name%></a>
        </h4>
        <% if(!opt.simplify) { %>
        <div class="item-line">
            <% if(item.type !== 2) { %>
                <% if(isClassOn) { %>
                    <span class="line-cell item-time item-time--now">正在上课</span>
                <% } else if(isToday) { %>
                <span class="line-cell item-time">     
                    <i class="icon-font i-time"></i><%=$.render.time.formatDate('hh:mm', item.sub_bgtime * 1000)%>
                </span>
                <% } else { %>
                <span class="line-cell item-time">     
                    <i class="icon-font i-time"></i><%=$.render.time.format(item.sub_bgtime, 2)%>
                </span>
                <% } %>
            <% } %>
            <span class="line-cell item-user">
                <i class="icon-font i-user-border"></i><%=apply_num_str%>
            </span>
            <span class="line-cell item-star-num">
                <i class="icon-font i-star-border"></i><%=course_score_str%>
            </span>
        </div>
        <% } %>
        <div class="item-line">
            <span class="line-cell item-price<%= item.price === 0 ? ' free' : '' %>"><%=$.render.formatPrice(item.price)%></span>
            <% if(!opt.noAgency) { %>
            <i class="icon-sep"></i>
            <span class="item-source">
                <a href="http://<%=item.agency_domain%>" target="_blank" class="item-source-link" title="<%=item.agency_name%>" report-tdw="action=Coursecard_Courseregister-clk&ver1=<%=item.course_id%>&ver3=<%=cardPos%>"><%=item.agency_name%></a>
            </span>
            <% } %>
        </div>
    </li>
<% } %>
</ul>