<%
var srv_time = (typeof server_time) !== 'undefined' ? server_time : parseInt(new Date / 1000);
var page_from = (typeof __from__) !== 'undefined' ? __from__ : '';
%>
<%for(var i=0,len= items.length;i<len;i++){%>

<%
var item = items[i],
    time = item.time,
    endtime = item.endtime,
    sub_bgtime = item.sub_bgtime || time,
    sub_endtime = item.sub_endtime || endtime;
%>
<%
var is_live = (sub_bgtime <= srv_time && sub_endtime > srv_time),
    is_over = (sub_endtime <= srv_time),
    is_dianbo = (item.type ==2),/*是点播课*/
    is_free = (item.price == 0);/*,
    is_not_applied = (!is_free && time <= srv_time);*/
/*是否展示进入课堂按钮：不是点播课，且是免费正在上课的才展示进入课堂按钮*/
var hasBtn = (item.type!=2) && is_live && is_free;
%>
<li class="mlm-item js-course-item">
    <div class="course-card <%=page_from == 'agencyIndex' || page_from == 'qqlive' ? 'course-card-for-agency' : ''%> <%=hasBtn ? '' : 'course-card-nobtn'%>">
            <%if(item.type ==2 ){%>
                <div class="course-face js-course-cover" <%= typeof tdws !== 'undefined' && tdws.record_p && 'report-tdw="action=' + tdws.record_p + '&ver1=' + item.id + '"'%>>
            <%}else{%>
                <div class="course-face js-course-cover" <%= typeof tdws !== 'undefined' && tdws.p && 'report-tdw="action=' + tdws.p + '&ver1=' + item.id + '"'%>>
            <%}%>
            <a href="<%=$.render.url[item.type==2?'video_play_page':'course_detail'](item.id)%>" target="_blank" title="<%=item.name%>" data-cid="<%=item.id%>">
                <img width="222" height="125" lazy-src="<%=item.cover_url%>222" />
                <span class="border"></span>
                 <%if(item.type ==2 ){%>
                 <span class="play-button normal"></span>
                 <%}%>
                <%if(item.expr_flag && (item.expr_flag == 2 || (item.expr_flag == 1 && item.expr_range >= item.curr_lesson)) ){%>
                <div class="mod-support-listen">免费试听</div> 
                <%}%>
            </a>
            <%if(item.type !=2 ){%>
            <span class="course-time">
                <%
                    var state;
                    if (is_over) {
                        state = '已结束';
                    /*} else if (is_not_applied) {
                        state = '截止报名';*/
                    } else if (is_live) {
                        state = '正在上课';
                    } else {
                        if (page_from == 'live') {
                            state = '倒计时：<span class="leave-time">' + $.render.time.fromStartTime(sub_bgtime,srv_time) + '</span>';
                        } else {
                            state = $.render.time.format(sub_bgtime, 1, srv_time);
                        }
                    }
                %>
                <%=state%>
            </span>
            <%}%>
        </div>
        <div class="course-title">
            <%if(item.type ==2 ){%>
                <a href="<%=$.render.url.course_detail(item.id)%>" target="_blank" title="<%=item.name%>" class="js-course-name" data-cid="<%=item.id%>"  <%= typeof tdws !== 'undefined' && tdws.record_t && 'report-tdw="action=' + tdws.record_t + '&ver1=' + item.id + '"' %>><%=item.name%></a>
            <%}else{%>
                <a href="<%=$.render.url.course_detail(item.id)%>" target="_blank" title="<%=item.name%>" class="js-course-name" data-cid="<%=item.id%>"  <%= typeof tdws !== 'undefined' && tdws.t && 'report-tdw="action=' + tdws.t + '&ver1=' + item.id + '"' %>><%=item.name%></a>
            <%}%>
        </div>
        <div class="course-emphasis">
            <span class="course-price">
                <%=$.render.price(item.price)%>
            </span>
            <span class="course-num">
            <%if(item.type ==2 ){%>
                <%=(item.see_num?item.see_num + '人观看':'')%>
            <%}else{%>
                <%=(item.apply_num?item.apply_num + (item.price>0?'人购买':'人报名'):'')%>
            <%}%>
            </span>
        </div>
        <a class="course-agency nor-link" href="<%=$.render.url.agency_domain(item.agency_domain)%>" title="<%=item.agency_name%>" target="_blank">
            <span class="course-agency-icon">
                <img width="20" height="20" lazy-src="<%=item.agency_cover_url%>" />
                <span class="border"></span>
            </span>
            <span class="course-agency-name"><%=item.agency_name%></span>
        </a>
        <%if(is_live && is_free && item.type != 2){%><a href='<%=item.room_url%>' data-type="<%=item.type%>" data-aid="<%=item.agency_id%>" data-target="<%=item.room_url%>" onclick="$.render.url.live(this);" <%=((item.room_url||'').indexOf('http')==0 ? 'target="_blank"' : '')%> class="btn-primary course-btn js-course-enter" data-cid="<%=item.id%>" data-tid="<%=item.term_id||''%>" <%= typeof tdws !== 'undefined' && tdws.enter && 'report-tdw="action=' + tdws.enter + '&ver1=' + item.id + '"' %>>进入课堂</a><%}%>
    </div>
</li>
<%}%>
