<div id="<%=tableId%>" class="grid-wrap <%=tableClass%>">
    <%
    if(headers && headers.length >0) {
    %>
    <table cellpadding="0" cellspacing="0" class="grid-header-bg" >
        <thead>
            <tr>
                <%for(var i=0 ; i < headers.length ; i++){
                var widthStr =  headers[i].width ? ('style="width:'+headers[i].width +'"') : '';
                var className =  headers[i].className || '';
                %>
                <th class="grid-header-<%=i+1%> <%=className%>"  <%= widthStr %> ><span><%= headers[i].name %></span></th>
                <%}%>
            </tr>
        </thead>
    </table>
    <% } %>
    <div class="grid-data-wrap">
        <table cellpadding="0" cellspacing="0" class="grid-data" >
            <tbody>

            </tbody>
        </table>
        <div class="loading-wrap"></div>
    </div>
    <div class="grid-page-wrap sort-page">
    </div>
</div>
