<!--弹出框模版 S-->
<div class="tips<% if(dialog.globalClass) { %> <%=dialog.globalClass%><% }%>">
    <% if (!dialog.nohead) { %>
    <div class="tips-hd"><%=dialog.title%></div>
    <% } %>

    <% if (!dialog.body) { %>
    <div class="tips-bd">
        <% if(dialog.type) {
        var ico_type = {err:'alert',warn:'info',succ:'success',help:'question'}[dialog.type] || 'info';
        %>
        <i class="icon-msg-large icon-font i-<%=ico_type%>"></i>
        <p class="msg"><%=dialog.content%></p>
        <% } else { %>
        <%=dialog.content%>
        <% } %>
    </div>
    <div class="tips-tool">
        <% if(dialog.confirm) { %>
            <a auto-test="confirm-<%=id%>" href="#" title="<%=dialog.submit || '确定'%>" class="btn-7 modal-accept<% if(dialog.extraClass) { %> <%=dialog.extraClass%><% }%><% if(dialog.isDisabled) { %> btn-disabled<% }%>"><%=dialog.submit || '确定'%></a>
            <a auto-test="cancel-<%=id%>" href="#" title="取消" class="btn-8 modal-cancel"><%=dialog.cancel ||'取消'%></a>
        <% } else { %>
            <a auto-test="confirm-<%=id%>" href="#" title="<%= dialog.confirmText || '确定' %>" class="btn-7 modal-accept"><%= dialog.confirmText || '确定' %></a>
        <% } %>
    </div>
    <% } else { %>
    <%=dialog.body%>
    <% } %>

    <a auto-test="close-<%=id%>" href="#" class="modal-close btn-close" title="关闭">×</a>
</div>
<!--弹出框模版 E-->
