<%if(total > 1){%>
    <%
        var index = (typeof idx) !== 'undefined' ? idx : 1;
        var isFirst = (index==1)?true:false;
        var isLast = (index==total)?true:false;
        var from = parseInt(index-max/2);
        var to = parseInt(index+max/2);
        if(from == 2 || to == total-2){
            max = max+2;
        }
        var pager_id = "pager_id_" + Math.random().toString().replace(/\D/g, "");
    %>
    <%if(total-2 <= max){%>
        <div class="page-box">
            <a auto-test="<%=pager_id%>_prev" href="javascript:void(0);" class="page-prev-btn <%if(isFirst){%>page-btn-dis<%}%>"><i class="icon-font i-v-left"></i></a>
            <% for(var i=1,len=total;i<=len;i++){ %>
                <a auto-test="<%=pager_id%>_<%=i%>" href="javascript:void(0);" data-index="<%=i%>" class="page-btn<%if(i == 1){ %> page-first<%}%><%if(i == len){ %> page-last<%}%><%if(i == index){ %> page-btn-cur<%}%>"><%=i%></a>
            <%}%>
            <a auto-test="<%=pager_id%>_next" href="javascript:void(0);" class="page-next-btn <%if(isLast){%>page-btn-dis<%}%>"><i class="icon-font i-v-right"></i></a>
        </div>
    <%}else{%>
        <%if((from > 2) && (to < total-2)){%>
            <div class="page-box">
                <a auto-test="<%=pager_id%>_prev" href="javascript:void(0);" class="page-prev-btn <%if(isFirst){%>page-btn-dis<%}%>"><i class="icon-font i-v-left"></i></a>
                <a auto-test="<%=pager_id%>_1" href="javascript:void(0);" data-index="1" class="page-btn page-first">1</a>
                <a auto-test="<%=pager_id%>_2" href="javascript:void(0);" data-index="2" class="page-btn">2</a>
                <span>…</span>
                <% for(var i=from,len=total;i<to;i++){ %>
                    <a auto-test="<%=pager_id%>_<%=i+1%>" href="javascript:void(0);" data-index="<%=i+1%>" class="page-btn<%if(i+1 == index){ %> page-btn-cur<%}%>"><%=i+1%></a>
                <%}%>
                <span>…</span>
                <a auto-test="<%=pager_id%>_<%=len-1%>" href="javascript:void(0);" data-index="<%=len-1%>" class="page-btn"><%=len-1%></a>
                <a auto-test="<%=pager_id%>_<%=len%>" href="javascript:void(0);" data-index="<%=len%>" class="page-btn page-last"><%=len%></a>
                <a auto-test="<%=pager_id%>_next" href="javascript:void(0);" class="page-next-btn"><i class="icon-font i-v-right"></i></a>
            </div>
        <%}else{%>
            <div class="page-box">
            <%if(from <= 2){%>
                <a auto-test="<%=pager_id%>_prev" href="javascript:void(0);" class="page-prev-btn <%if(isFirst){%>page-btn-dis<%}%>"><i class="icon-font i-v-left"></i></a>
                <% for(var i=1,len=total;i<=Math.max(max, to);i++){ %>
                    <a auto-test="<%=pager_id%>_<%=i%>" href="javascript:void(0);" data-index="<%=i%>" class="page-btn<%if(i == 1){ %> page-first<%}%><%if(i == len){ %> page-last<%}%><%if(i == index){ %> page-btn-cur<%}%>"><%=i%></a>
                <%}%>
                <span>…</span>
                <a auto-test="<%=pager_id%>_<%=len-1%>" href="javascript:void(0);" data-index="<%=len-1%>" class="page-btn"><%=len-1%></a>
                <a auto-test="<%=pager_id%>_<%=len%>" href="javascript:void(0);" data-index="<%=len%>" class="page-btn page-last"><%=len%></a>
                <a auto-test="<%=pager_id%>_next" href="javascript:void(0);" class="page-next-btn"><i class="icon-font i-v-right"></i></a>
            <%}%>

            <%if(to >= total-2){%>
                <a auto-test="<%=pager_id%>_1" href="javascript:void(0);" class="page-prev-btn <%if(isFirst){%>page-btn-dis<%}%>"><i class="icon-font i-v-left"></i></a>
                <a auto-test="<%=pager_id%>_prev" href="javascript:void(0);" data-index="1" class="page-btn page-first">1</a>
                <a auto-test="<%=pager_id%>_2" href="javascript:void(0);" data-index="2" class="page-btn">2</a>
                <span>…</span>
                <% for(var i=Math.min(from , total-max),len=total;i<total;i++){ %>
                    <a auto-test="<%=pager_id%>_<%=i+1%>" href="javascript:void(0);" data-index="<%=i+1%>" class="page-btn<%if(i == index-1){ %> page-btn-cur<%}%><%if(i == total-1){ %> page-last<%}%>"><%=i+1%></a>
                <%}%>
                <a auto-test="<%=pager_id%>_next" href="javascript:void(0);" class="page-next-btn <%if(isLast){%>page-btn-dis<%}%>"><i class="icon-font i-v-right"></i></a>
            <%}%>
            </div>
        <%}%>
    <%}%>
<%}%>
