<div class="mod-picker mod-picker_qq js-picker-course" id="<%=id%>">
<div class="mod-picker__hd">
<h2 class="mod-picker__hd-title">选择<%=title%></h2>
<a href="javascript:;" class="mod-picker__close">x</a>
</div>
<div class="mod-picker__bd">
<div class="mod-picker__data-options">
<h3 class="mod-picker__list-title">选择<%=title%>：</h3>
<div class="mod-picker__cont">
<input type="text" placeholder="输入关键字或拼音进行筛选" class="mod-picker__input" />
<ul class="mod-picker__options-ul js-options">
	<li class="select-li-loading js-select-loading">数据加载中…</li>
</ul>
</div>
</div>
<div class="mod-picker__action-btns">
<a href="javascript:;" class="btn-add btn-weak disabled">添加</a>
<a href="javascript:;" class="btn-del btn-weak disabled">删除</a>
<span class="mod-picker__tips">支持选择<i class="mod-picker__max"></i><%=limit%><%=unit%><%=title%></span>
</div>
<div class="mod-picker__data-selected">
<h3 class="mod-picker__list-title">已选择<%=title%>：</h3>
<div class="mod-picker__cont">
<ul class="mod-picker__selected-ul js-selected"></ul>
</div>
</div>
</div>
<div class="mod-picker__ft">
<span class="picker-help"></span>
<a href="javascript:;" class="btn-default btn-save">确定</a>
</div>
</div>