<div class="wrap-side-operation" id="js-side-operation">
    <div class="mod-side-operation">
        <div id="js-jump-container" class="js-jump-container">
            <a href="javascript:void(0)" class="mod-side-operation__jump-to-top" id="js-jump-to-top"><i class="icon-font i-to-top"></i></a>
            <div id="js-jump-plan-container" class="js-jump-plan-container">
                <a href="javascript:void(0)" class="js-jump-plane" id="js-plane"></a>
            </div>
        </div>
        <div class="side-service-item side-service-qq js-c-special">
            <a class="item-link-block" href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=800082734" target="_blank">
                <!-- <i class="icon-side-qq item-icon"></i> -->
                <i class="icon-font i-qq-border item-icon"></i>
                <span class="item-hover-text">在线客服</span>
            </a>
        </div>
        <div class="side-service-item side-service-weixin js-c-special">
            <!-- <i class="icon-side-weixin item-icon"></i> -->
            <i class="icon-font i-weixin-border item-icon"></i>
            <span class="item-hover-text">扫码关注</span>
            <div class="item-hover-tips"></div>
        </div>
        <div class="side-service-item side-service-qr-code" report-tdw="action=sweep">
            <!-- <i class="icon-side-qr-code item-icon"></i> -->
            <i class="icon-font i-phone item-icon"></i>
            <span class="item-hover-text">移动课堂</span>
            <span class="hidden-clip">腾讯课堂【APP Android iPhone 下载】</span>
            <div class="item-hover-tips"></div>
        </div>
        <div class="side-service-item side-service-feedback">
            <a class="item-link-block js-feedback-link" href="http://support.qq.com/write.shtml?fid=1042" target="_blank" rel="nofollow" report-tdw="action=Feedback">
                <!-- <i class="icon-side-feedback item-icon"></i> -->
                <i class="icon-font i-edit item-icon"></i>
                <span class="item-hover-text">问题反馈</span>
            </a>  
        </div>
    </div>
</div>