@charset "UTF-8";

$lMaxWidth:             1200px;
$lMinWidth:             990px;
$lLeftWidth:            200px;
$lRightWidth:           330px;
$lGap:                  30px;

.inner-center{
	@extend %center-block;
	box-sizing: border-box;
	width: $lMaxWidth; //默认1200px，适用适用l-media,l-max
	.main{
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
}

// 960 居中布局
.l-min {
	.inner-center {
		width: $lMinWidth;
	}
}

// 1200 居中布局
.l-media,
.l-max{
	.inner-center {
		width: $lMaxWidth;
	}	
}

// 左边栏
.l-aside-left{
	.aside-left{
		float: left;
		width: $lLeftWidth;
		box-sizing: border-box;
	}
	.main{
		margin-left: -$lLeftWidth;
		.content{
			margin-left: $lLeftWidth + $lGap;
		}
	}
}

// 右边栏
.l-aside-right{
	.aside-right{
		float: left;
		width: $lRightWidth;
		box-sizing: border-box;
		margin-left: -$lRightWidth;
	}
	.main{
		.content{
			margin-right: $lRightWidth + 10px;
		}
	}
}

@media only screen and (max-width: 1199px) {
	$lRightWidth:  300px;
	
	body{
		min-width: 990px;
	}
	.l-media{
		.inner-center {
			width: $lMinWidth;
		}
	}
	.l-aside-right{
		.aside-right{
			width: $lRightWidth;
			margin-left: -$lRightWidth;
		}
		.main{
			.content{
				margin-right: $lRightWidth + 10px;
			}
		}
	}
}
