@font-face {
    font-family: "webfont";
    src: url("./fonts/webfont.eot");
    src: url("./fonts/webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/webfont.woff") format("woff"),
    url("./fonts/webfont.ttf") format("truetype");
    font-weight: normal; font-style: normal;
}
%icon-font {
    font-family: "webfont"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
    text-transform: none; line-height: 1; font-size: 16px; position: relative; vertical-align: 0;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.icon-font {
    @extend %icon-font;
}
.i-add:before{content: "\f000";}
.i-alert-border:before{content: "\f001";}
.i-alert:before{content: "\f002";}
.i-arrow-bottom:before{content: "\f003";}
.i-arrow-down:before{content: "\f004";}
.i-arrow-top:before{content: "\f005";}
.i-arrow-up:before{content: "\f006";}
.i-back:before{content: "\f007";}
.i-calendar:before{content: "\f008";}
.i-camera:before{content: "\f009";}
.i-career:before{content: "\f00a";}
.i-center:before{content: "\f00b";}
.i-class-data:before{content: "\f00c";}
.i-class:before{content: "\f00d";}
.i-close-16:before{content: "\f00e";}
.i-close:before{content: "\f00f";}
.i-comment-to:before{content: "\f010";}
.i-comment:before{content: "\f011";}
.i-computor:before{content: "\f012";}
.i-course-data:before{content: "\f013";}
.i-course-live:before{content: "\f014";}
.i-course-q-a:before{content: "\f015";}
.i-course-record-border:before{content: "\f016";}
.i-course-record:before{content: "\f017";}
.i-course-test:before{content: "\f018";}
.i-cut:before{content: "\f019";}
.i-delete:before{content: "\f01a";}
.i-download:before{content: "\f01b";}
.i-edit:before{content: "\f01c";}
.i-empty:before{content: "\f01d";}
.i-feeder:before{content: "\f01e";}
.i-flag:before{content: "\f01f";}
.i-flower:before{content: "\f020";}
.i-group-border:before{content: "\f021";}
.i-group:before{content: "\f022";}
.i-heart-border:before{content: "\f023";}
.i-heart:before{content: "\f024";}
.i-home:before{content: "\f025";}
.i-i-ke-comment:before{content: "\f026";}
.i-image:before{content: "\f027";}
.i-info:before{content: "\f028";}
.i-insert:before{content: "\f029";}
.i-ke-comment:before{content: "\f02a";}
.i-ke-share:before{content: "\f02b";}
.i-language:before{content: "\f02c";}
.i-list-dot:before{content: "\f02d";}
.i-list:before{content: "\f02e";}
.i-logo:before{content: "\f02f";}
.i-lu:before{content: "\f030";}
.i-management:before{content: "\f031";}
.i-msg-filter:before{content: "\f032";}
.i-no-flower:before{content: "\f033";}
.i-no-image:before{content: "\f034";}
.i-pen:before{content: "\f035";}
.i-phone:before{content: "\f036";}
.i-play:before{content: "\f037";}
.i-progress-now:before{content: "\f038";}
.i-qq-border:before{content: "\f039";}
.i-qq:before{content: "\f03a";}
.i-qr-code:before{content: "\f03b";}
.i-question:before{content: "\f03c";}
.i-remind:before{content: "\f03d";}
.i-right:before{content: "\f03e";}
.i-search:before{content: "\f03f";}
.i-share-to:before{content: "\f040";}
.i-share:before{content: "\f041";}
.i-slide-down:before{content: "\f042";}
.i-slide-up:before{content: "\f043";}
.i-star-border:before{content: "\f044";}
.i-star-empty:before{content: "\f045";}
.i-star:before{content: "\f046";}
.i-success:before{content: "\f047";}
.i-tel-border:before{content: "\f048";}
.i-tel:before{content: "\f049";}
.i-time:before{content: "\f04a";}
.i-to-top:before{content: "\f04b";}
.i-user-border:before{content: "\f04c";}
.i-user-group-border:before{content: "\f04d";}
.i-user-group:before{content: "\f04e";}
.i-user:before{content: "\f04f";}
.i-v-bottom:before{content: "\f050";}
.i-v-double-bottom:before{content: "\f051";}
.i-v-double-left:before{content: "\f052";}
.i-v-double-right:before{content: "\f053";}
.i-v-double-top:before{content: "\f054";}
.i-v-left:before{content: "\f055";}
.i-v-right-bold:before{content: "\f056";}
.i-v-right:before{content: "\f057";}
.i-v-top:before{content: "\f058";}
.i-warn:before{content: "\f059";}
.i-weixin-border:before{content: "\f05a";}
.i-weixin:before{content: "\f05b";}