@charset "UTF-8";

// .section-msg
// 	.msg-inner
// 		i.icon-msg-large.icon-font.i-info/.i-alert/.i-success
// 		.msg-text
//      	.highlight //if 如果有搜索文字高亮
//          .nor-link //if 链接文字


// icon font
.icon-msg-large {
	font-size: 36px;
}

.icon-msg-middle {
	font-size: 24px;
}
.i-info{
	color: #4da9e8;
}
.i-question{
	color: #4ca9e6;
	cursor: help;
}
.i-alert{
	color: #e86730;
}
.i-success{
	color: #5fb41b;
}

// old version
.warn-empty {
	margin: 170px 0; 
	text-align: center;
	.icon-msg-large{
		margin-right: 15px;
		vertical-align: middle;
	}
	.wording {
		display: inline-block; 
		vertical-align: middle;
		height: 36px; 
		line-height: 36px; 
		font-size: 18px; 
		color: #999; 
	}
}

// new version
.section-msg{
	text-align: center;
	margin: 170px 0; 
	.highlight{ // 搜索的高亮文本
		color: #e85308;
	}
	.msg-inner{
		display: inline-block;
		padding-left: 50px;
		position: relative;
	}
	.icon-msg-large{
		position: absolute;
		top: 0;
		left: 0;
	}
	.msg-text{
		line-height: 36px; 
		font-size: 18px; 
		color: #999; 

	}
	.msg-text--lines{
		line-height: 2;
		font-size: 14px;
		.msg-tt{
			font-size: 18px; 
			line-height: 1.2;
			margin-bottom: 15px;
		}
	}
	&.section-msg--small{
		margin: 50px 0 0;
	}
}

.message-box{
	position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: $zIndexPopup;
    text-align: center;
}
.message-box-bd{
	display: inline-block;
    border: 1px solid $colorBorder;
    padding: 25px 100px;
    background-color: #fff;
    .icon-font{
    	vertical-align: middle;
    }
    .msg-text{
    	margin-left: 5px;
    	display: inline-block;
    	vertical-align: middle;
    }
}
.message-box-simple{
    position: fixed;
    background: #f1faff;
    line-height: 24px;
    border: 1px solid #bfe8fc;
    color: #333;
    padding: 6px 56px;
    left: 0;
    right: 0;
    top: 50px;
    width: 120px;
    z-index: $zIndexPopup;
    text-align: center;
    margin: 0 auto;
}