@charset "UTF-8";

// 未来将dis-btn清掉，统一使用disabled

// Buttons
//
// 按钮可以通过添加`.btn-`类来产生，目前只能添加给`<a>`标签。
//
// Styleguide 1

// 一般按钮
//
// :hover       - Hover态
// :active		- Active态
// .disabled    - Disabled失效button
//
// Markup:
// <a class="btn-default btn-example {$modifiers}">Button</a>
//
// Styleguide 1.1

// 一般按钮
.btn-default {
	@extend %btn-default;
}

// 弱按钮
.btn-weak {
	@extend %btn-weak;
	border: 1px solid $colorBorder;
}

// 引导用户点击
.btn-primary {
	@extend %btn-primary;
	@include btn();
}

// 按钮大小
.btn-m{
	@extend %btn-m;
	&.btn-weak{
		line-height: 38px;
	}
}
.btn-s{
	@extend %btn-s;
	&.btn-weak{
		line-height: 28px;
	}
}

// 引导用户点击
//
// :hover       - Hover态
// :active		- Active态
// .on          - 选中态
// .disabled    - Disabled失效button
//
// Markup:
// <a class="btn-card btn-example {$modifiers}"><i></i>Button</a>
//
// Styleguide 1.4

// $btn-card-bg-color: #f3f3f3;
// $btn-card-color: #202020;
// $btn-card-bg-color-hover: #ffffff;
// $btn-card-border-color-hover: #68b30f;
// $btn-card-bg-color-active: #dcdcdc;

.btn-card {
	@include btn();
	color: #202020;
	background-color: #f3f3f3;
	position: relative;
	> i {
		display: none;
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		left: -26px;
		overflow: hidden;
		border: 16px solid transparent;
		border-top-color: #68b30f;
	}
	&:hover {
		background-color: #fff;
		border-color: #68b30f;
	}
	&:active {
		background-color: #fff;
		border-color: #68b30f;
	}
	&.on {
		background-color: #fff;
		border-color: #68b30f;
		> i {
			display: block;
		}
	}
	&.disabled,
	&.dis-btn {
		@extend %disabled;
	}
}

// QQ客户端按钮
//
// :hover       - Hover态
// :active		- Active态
// .disabled    - Disabled失效button
//
// Markup:
// <a class="btn-client btn-example {$modifiers}">Button</a>
//
// Styleguide 1.5


// 全部搜索没有用到的地方
// 引导用户点击
// .btn-client {
// 	@include btn();
// 	color: $btn-client-color;
// 	background-color: $btn-client-bg-color;
// 	&:hover {
// 		background-color: $btn-client-bg-color-hover;
// 	}
// 	&:active {
// 		background-color: $btn-client-bg-color-active;
// 	}
// 	&.disabled,
// 	&.dis-btn {
// 		pointer-events: none;
// 		color: $btn-client-color-disabled;
// 		background-color: $btn-client-bg-color-disabled;

// 		@include disabled();
// 	}
// }

// 页面播放按钮
//
// .large    - Large大按钮
// .normal    - Normal正常按钮
// .small    - Small小按钮
//
// Markup:
// <div style="position:relative;width:98px;height:98px;"><a class="play-button btn-example {$modifiers}"></a></div>
//
// Styleguide 1.6

%play-ico-basic{
	background-position:center center;
    background-repeat:no-repeat ;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer; 	
}
@mixin play-ico($size) {
	@if $size==large{
		width: 98px;
    	height: 98px;
    	margin: -49px auto auto -49px;
	}
	@else if $size==normal{
		width: 62px;
        height: 62px;
        margin: -31px auto auto -31px;
	}
	@else if $size==small{
		width: 26px;
        height: 26px;
        margin: -13px auto auto -13px;
	}
    background-image: url("../img/bg/play_icon_#{$size}.png");
    @extend %play-ico-basic;
}

// 页面播放按钮
.play-button {
	&.large{
		@include play-ico(large);
	}
	&.normal{
		@include play-ico(normal);
	}
	&.small{
		@include play-ico(small);
		_width:26px!important;
	}
}

// =================待整理=============
.btn-2,
.btn-3,
.btn-7,
.btn-8{
	overflow: hidden;
	cursor: pointer;
	text-align:center;
	border-radius: 2px;	
}
.btn-2{
	width:52px;
	height:20px;
	line-height:20px;
	background-color:#039ae3;
	font-size:12px;
	color:#fff;

	display:inline-block;vertical-align:middle;
	@include user-select;
	&:hover{
		background-color:#00acff;
	}
}
.btn-3{
	width:180px;
	height:42px;
	line-height:42px;
	background-color:#ff9b00;
	font-size:16px;
	color:#fff;

	display:inline-block;vertical-align:middle;
	@include user-select;
	&:hover{
		background-color:#ffad2e;
	}
	&:active{
		background-color: #ed7b00;
	}
}
.btn-7{
	padding:0 26px;
	height:36px;
	line-height:36px;
	background-color:#039ae3;
	font-size:16px;
	color:#fff;

	display:inline-block;vertical-align:middle;
	@include user-select;
	&:hover{
		background-color:#00acff;
	}
}
.btn-8{
	padding:0 26px;
	height:34px;
	line-height:34px;
	background-color:#f3f3f3;
	font-size:16px;
	border:1px solid #d9d9d9;
	color:#3a3a3a;

	display:inline-block;vertical-align:middle;
	@include user-select;
	&:hover{
		background-color:#ebebeb;
	}
}
.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
	@extend %disabled;
    outline: none;
}


button,input[type="submit"],input[type="button"]{
	border: 0 none;
}