/* /widget/tips/index.scss *//* /widget/scroller/index.scss */.ui-scroller {
  width: auto;
  height: 300px;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ccc; }

.ui-scroller li {
  margin-bottom: 10px; }
/* /widget/label-list/index.scss *//* /widget/action-sheet/index.scss */