@charset "utf-8";

.business-list{
    width:1160px;
    height:116px;
    overflow: hidden;
    .business-item{
        position:relative;
        float: left;
        margin-right: 48px;
        a{
            position:relative;
            width:116px;
            height:116px;
            display: inline-block;
            border-radius: 8px;

            &:hover{
                background-color:#e5e5e5;
            }
            &:active{
                background-color: #ccc;
            }
        }
        img{
            margin:8px 0 0 8px;
            width: 100px;
            height: 100px;
            display: block;
            overflow: hidden;
            // border:1px solid #f3f3f3;
            // border:1px solid rgba(0,0,0,0.1);
            border-radius: 8px;
        }
        .border{
            position:absolute;
            top: 8px;
            left: 8px;
            z-index: 2;
            width: 99px;
            height:99px;
            border:1px solid #000;
            @include opacity(0.1);
            border-radius: 8px;
            // display: none;
        }
    }
}