@charset "utf-8";


.fixed{
    position: fixed;
    _position: absolute;
    &.fixed-right{
        right: 0;
    }
}

#is-public-account-on-mobile{
    //top: 460px;
    bottom: 145px;
    width: 81px;
    height: 119px;
    padding: 13px 12px 9px 12px;
    border: 1px solid #e5e5e5;
    background: white;
    z-index: 100;
    img{
        width: 81px;
        height: 81px;
        margin-bottom: 4px;
        display: block;
    }

    p{
        line-height: 17px;
        font-size: 12px;
        color: #333;
        text-align: center;
    }
}

