<table class="am-table" cellpadding="0" cellspacing="0">
	<tr>
		<td class="tar">银行：</td>
		<td><%=bill.bank_name%></td>
	</tr>
	<tr>
		<td class="tar">银行账号：</td>
		<td><%=bill.hidden_account%></td>
	</tr>
	<tr>
		<td class="tar">户名：</td>
		<td><%=bill.account || bill.bank_owner%></td>
	</tr>
	<tr>
		<td class="tar">开户行：</td>
		<td><%=bill.isSpCity ? bill.province + '市' : bill.province + '省&nbsp;&nbsp;&nbsp;' + (bill.city || bill.bank_city) + '市'%></td>
	</tr>
	<tr>
		<td class="tar">网点：</td>
		<td><%=bill.branch || bill.bank_branch%></td>
	</tr>
    <%if(!isPersonal){%>
	<tr>
		<td class="tar tar-vtop">开户证明：</td>
		<td>
			<div class="bill-cer-img" id="billCerImg"></div>
		</td>
	</tr>
    <%}%>
	<tr>
		<td class="tar <%=bill.state == 1 || bill.state == 4 ? '' : 'tar-vtop'%>">收益补充协议：</td>
		<td>
			<% if (bill.state == 1) { %>
			正在审核账户信息，请通过后再来签署协议
			<% } else if (bill.state == 4) {%>
			正在审核协议
			<% } else {%>
				<div>请准确填写以下信息，将会录入协议。</div>
				<div class="vip-note vip-note-role-match">注：乙方信息需与营业执照中保持一致。</div>
				<div class="vip-note">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请填写正确的手机号及邮箱，便于接收财务结算通知。</div>
				<div class="reg-cf-i">
					<span class="reg-cf-l">乙&nbsp;&nbsp;&nbsp;方：</span><span class="reg-cf-l" style="width: auto"><%=bill.account || bill.bank_owner%></span>
				</div>
				<div class="reg-cf-i">
					<span class="reg-cf-l">地&nbsp;&nbsp;&nbsp;址：</span><input type="text" class="s-ipt" id="cerAddress" autocomplete="off" maxlength="30" /><label class="s-label" id="cerAddressTips" for="cerAddress">请填写准确地址</label>
					<span class="reg-cf-tips" id="cerAddressVerify"></span>
				</div>
				<div class="reg-cf-i" style="margin-top: 15px;">
					<span class="reg-cf-l">联系人：</span><input type="text" class="s-ipt" id="cerContact" autocomplete="off" maxlength="30" /><label class="s-label" id="cerContactTips" for="cerContact">请填写联系人姓名</label>
					<span class="reg-cf-tips" id="cerContactVerify"></span>
				</div>
				<div class="reg-cf-i" style="margin-top: 15px;">
					<span class="reg-cf-l">手机号：</span><input type="text" class="s-ipt" id="cerPhone" autocomplete="off" maxlength="11" /><label class="s-label" id="cerPhoneTips" for="cerPhone">请填写手机号码</label>
					<span class="reg-cf-tips" id="cerPhoneVerify"></span>
				</div>
				<div class="reg-cf-i" style="margin-top: 15px;">
					<span class="reg-cf-l">邮&nbsp;&nbsp;&nbsp;箱：</span><input type="text" class="s-ipt" id="cerMail" autocomplete="off" maxlength="30" /><label class="s-label" id="cerMailTips" for="cerMail">请填写电子邮箱</label>
					<span class="reg-cf-tips" id="cerMailVerify"></span>
				</div>
				<div class="bill-con-op">
					<a href="javascript:;" class="con-y-btn btn-default" id="conYBtn">生成正式协议</a>
				</div>
			<% } %>
		</td>
	</tr>
	<% if (bill.state == 1 || bill.state == 4) { %>
	<tr>
		<td class="tar"></td>
		<td class="ai-tip"><%=bill.state == 1 ? '注意: 腾讯公司将在1-2个工作日内确认账户信息，如果符合接入规范，将通过QQ消息或邮件通知您完成正式协议的签署。' : '注意：腾讯公司将在1-2个工作日内完成协议审核，将通过QQ消息、短信、邮件进行通知。'%></td>
	</tr>
	<% } %>
</table>
