<style>
	.con-info strong{
		font-weight:bold!important;
	}
</style>
<div class="con-info" unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;">
	<p class="pro-title">
		《腾讯课堂课程发布者注册协议》之收益补充协议
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-guide"><strong>
	  甲&nbsp;&nbsp;&nbsp;方：深圳市腾讯计算机系统有限公司
	</strong></p>
	<p class="pro-no-indent">
		地&nbsp;&nbsp;&nbsp;址：深圳市科技中一路腾讯大厦
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-guide">
		乙&nbsp;&nbsp;&nbsp;方：<%=bill.account || bill.bank_owner%>
	</p>
	<p class="pro-no-indent">
		地&nbsp;&nbsp;&nbsp;址：<%=bill.address || bill.bank_address%>
	</p>
	<p class="pro-no-indent">
		联系人：<%=bill.contact || bill.bank_contact%>
	</p>
	<p class="pro-no-indent">
		手&nbsp;&nbsp;&nbsp;机：<%=bill.pro_phone%>
	</p>
	<p class="pro-no-indent">
		电子邮箱：<%=bill.pro_mail%>
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-no-indent">
		鉴于
	</p>
	<p>
		乙方已注册成为腾讯课堂的课程发布者，并接受、同意了《腾讯课堂课程发布者注册协议》网址为：<a class="nor-link" target="_blank" href="http://ke.qq.com/faq.html#/2/1">http://ke.qq.com/faq.html#/2/1</a>，若今后具体网址和相应内容有变化的，以变化后的网址和内容为准）（下称：主协议），现双方就乙方在腾讯课堂的收益等相关事宜，经协商达成一致，签订本补充协议，以供双方共同遵循。
	</p>
  <p>
		<br/>
	</p>
	<p class="pro-guide"><strong>
		一、基本原则
	</strong></p>
	<p>
		乙方有权自行决定自己发布的课程是否收费、课程收费标准及课程收费方式等形式，在乙方课程开始向用户收费并有收益后，乙方依约获得其应得收益，甲方依约获得乙方向甲方支付服务成本费（若有）。
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-guide">
	<strong>二、甲方权利义务 </strong></p>
	<p>
		2.1 甲方有权根据甲方公布的相关规则、规范对乙方课程的运营质量进行考核。
	</p>
	<p>
		2.2 甲方有权根据甲方公布的相关规则、规范对乙方课程进行管理，且保留对规则的修改和解释权，乙方课程不符合规则或相关法律法规的，甲方有权停止乙方课程的运营、支付等相关服务。
	</p>
	<p>
		2.3 乙方课程符合甲方公布的相关规则、规范后，甲方会按照相关约定、规则等为乙方收费课程提供充值支付的渠道及相关服务。
	</p>
	<p>
		2.4 在乙方课程有收益后，甲方有权按照本协议约定，向乙方收取相关服务成本费，目前，甲方免费向乙方提供相关服务，不收取相关服务成本费，今后甲方有权根据整体运营情况，单方决定是否向您收取费用、调整收费标准等，对此乙方将会予以全部遵守、同意，但您依法或按照约定终止使用本服务的除外，具体以甲方实际公布的规则、规范为准。
	</p>
	<p>
		2.5 甲方有权要求乙方积极配合甲方腾讯课堂运营需要所开展的推广活动。
	</p>
	<p>
		2.6 甲方有权根据运营情况单方对主协议、本补充协议、其他双方签署的相关协议及相关的附件、规则、规范等进行修改，乙方对修改后的协议及相关的附件、规则、规范等，均无异议，并将予以全面同意和遵守。
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-guide"><strong>
		三、乙方权利义务
	</strong></p>
	<p>
		3.1 若乙方课程收费的，乙方同意乙方课程如需通过在线支付方式进行支付的，为保证用户支付及交易的安全性，乙方同意仅使用甲方提供的充值支付渠道作为课程的唯一充值支付渠道，且不可单独开发或向用户提供除甲方渠道之外的任何充值支付渠道，乙方提供线下支付的方式除外。如乙方使用甲方提供的充值支付渠道以外的任何渠道面向用户进行收费，甲方有权随时中止、终止乙方课程在甲方平台上的运营，并没收乙方的全部课程收益。
	</p>
	<p>
		3.2 乙方有义务遵守主协议、本补充协议、其他双方签署的相关协议及相关的附件、规则、规范等及相关的法规等。否则，甲方有权随时中止、终止乙方课程在甲方平台上的运营或提供相关服务，没收乙方的全部课程收益，并且乙方应承担因此而对甲方和用户造成的一切损失。
	</p>
	<p>
		3.3 乙方可以按照相关约定、规则等使用由甲方提供的针对课程的数据统计分析系统、反外挂数据分析系统。
	</p>
	<p>
		3.4 乙方须保证向用户提供有效和优质的服务，包括但不限于提供24小时的客服电话服务等并保证服务质量，若乙方无法确保此条，经甲方书面同意后，可以接入甲方提供的客服系统，但涉及到的人员及人员的人力成本等相关费用由乙方自行解决和承担。
	</p>
	<p>
		3.5 乙方同意会积极配合甲方腾讯课堂开展的推广活动。
	</p>
	<p>
		3.6 乙方同意在此授权甲方可在腾讯课堂或其他平台、渠道等为宣传推广应用，使用与乙方应用相关的知识产权。
	</p>
	<p>
		3.7 乙方聘任第三方（以QQ号码为标识）进行相关课程交流的，则视第三方行为为乙方自身在履行课程的行为，并应当对该第三方的相关行为承担责任（包括但不限于管理第三方的课程安排、支付第三方相应费用等）。如该第三方存在违反法律法规或腾讯相关规定的行为，则视同乙方违反法律法规或腾讯相关规定，腾讯有权根据相关法律法规或腾讯相关规定对乙方进行相应的处罚。
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-guide"><strong>
		四、乙方课程收益
	</strong></p>
	<p><strong>
		4.1 目前，乙方在腾讯课堂上使用甲方提供的相关服务完全是免费的，腾讯不收取任 </strong><br>
        <strong>何服务费用，乙方课程所产生的收益全部归乙方所有，但用户通过Q币Q点来支付乙方课程费用时，需向甲方支付渠道技术服务成本费，即： </strong></p>
<p><strong>（1）非通过Q币Q点获取的课程费用： </strong></p>
  <p><strong>*</strong><strong>乙方课程的月结算收益比例为100%，即乙方课程所获得的全部收益均为乙方所有； </strong></p>
  <p><strong>*</strong><strong>甲方渠道等服务费用为：0%，即甲方不收取任何服务费用； </strong></p>
  <p><strong>即：乙方非通过Q币Q点获取课程的月结算收益=乙方非通过Q币Q点获取的课程费用*100%； </strong></p>
<p><strong>（2）通过Q币Q点获取的课程费用： </strong></p>
<p><strong>乙方收取的课程费用是由用户通过Q币Q点支付的，该部分课程费用需向甲方支付渠道技术服务成本费； </strong></p>
  <p><strong>*</strong><strong>渠道技术服务成本费=乙方通过Q币Q点获取的课程费用*25%； </strong></p>
  <p><strong>即：乙方通过Q币Q点收取的课程的月结算收益=乙方通过Q币Q点获取的课程费用-渠道技术服务成本费=乙方通过Q币Q点获取的课程费用*75%； </strong></p>
  <p><strong>    </strong><strong>综上：乙方课程的月结算总收益=（1）+（2）=乙方非通过Q币Q点获取课程的月结算收益+乙方通过Q币Q点收取的课程的月结算收益=乙方非通过Q币Q点获取的课程费用*100%+乙方通过Q币Q点获取的课程费用*75%； </strong></p>
  <p><strong>    </strong><strong>但后续甲方如对服务进行调整并可能收取相关服务费用的，甲方有权从乙方的课程总收益中扣除相应费用。 </strong></p>
<p><strong>
	  4.2 目前乙方课程的月结算收益
	</strong></p>
	<p>
		乙方课程收益按自然月进行结算，目前乙方课程的月结算收益为上个月中完成课程学习并在上月之前已经缴纳课程费用的课程对应的费用，腾讯不收取任何服务费用。
	</p>
	<p>
		具体计算如下：
	</p>
	<p>
		<b>A课程当月结算费用</b>=上月完成A课程学习的用户相应实际非通过Q币Q点所支付的课程费用总和*100%+上月完成A课程学习的用户相应实际通过Q币Q点所支付的课程费用总和*75%； </p>
<p>
	  <b>B课程当月结算费用</b>=上月完成B课程学习的用户相应实际非通过Q币Q点所支付的课程费用总和*100%+上月完成B课程学习的用户相应实际通过Q币Q点所支付的课程费用总和*75%； </p>
<p>
	  ......
	</p>
	<p>
		<b>N课程当月结算费用</b>=上月完成N课程学习的用户相应实际非通过Q币Q点所支付的课程费用总和*100%+上月完成N课程学习的用户相应实际通过Q币Q点所支付的课程费用总和*75%； </p>
<p><strong>注：</strong><strong>*</strong><strong>上月完成某课程学习并已经缴纳相应课程费用的用户数，仅指在上月完成了课程学习，并在上月之前已经缴纳费用的用户，对于缴纳过费用但已经退费的用户数均不计算在内。 </strong></p>
  <p><strong>*</strong><strong>如用户选择某种支付工具时，可能会在乙方标注课程单价的基础上给予一定的折扣，则乙方课程收益在结算时，则按折扣后用户实际支付的费用进行结算，具体折扣以甲方实际提供的为准。 </strong></p>
  <p><strong>如：乙方标注某课程单价为10元，选择某种支付工具后，给予9.1折（具体折扣以甲方实际提供的为准），则用户实际仅需支付9.1元（10元*0.91=9.1元），则该笔费用按9.1元进行结算。 </strong></p>
<p>
	  <strong>4.3乙方的月总收益</strong>
	</p>
	<p>
		<b>乙方的月总收益</b>=A课程当月结算费用 + B课程当月结算费用 + ..... +  N课程当月结算费用-相应的服务费用总和（如有）
	</p>
	<p>
		<strong>4.4 计算范例</strong>
	</p>
	<p>
		假设乙方在某收费课程结束后8月份发生以下情况，请计算乙方8月份的月课程总收益额：
	</p>
	<p>
		（1）乙方8月份发生A课程单价10元，使用某种支付工具折扣后价格为9.1元，按单价10元支付的用户数人数为10000人，使用某种支付工具折扣后价格为9.1元的用户人数为50000人，该课程在8月份履行完毕，期间均未发生退费情况；
	</p>
	<p>
		（2）乙方8月份发生B课程单价10元，使用某种支付工具折扣后价格为9.1元，按单价10元支付的用户数人数为20000人，使用某种支付工具折扣后价格为9.1元的用户人数为40000人，该课程需在9月份才能履行完毕，期间均未发生退费情况；
	</p>
	<p>
		（3）乙方8月份履行完毕7月开始的C课程，C课程单价10元，使用某种支付工具折扣后价格为9.1元，按单价10元支付的用户数人数为10000人，使用某种支付工具折扣后价格为9.1元的用户人数为50000人，该课程在8月份履行完毕，期间发生退还用户费用为5万元；
	</p>
	<p>
		（4）乙方8月份发生D课程单价10元，使用某种支付工具折扣后价格为9.1元，按单价10元支付的用户数人数为20000人，使用某种支付工具折扣后价格为9.1元的用户人数为40000人，，发生退还用户费用10万元，该课程在8月份履行完毕；
	</p>
	<p>
		<strong>计算如下：</strong>
	</p>
	<p>
		（1）8月份A课程结算收益=10元/人*10000人+9.1元/人*50000人=10万元+45.5万元=55.5万元；
	</p>
	<p>
		（2）因B课程需在9月份才履行完毕，8月份课程总收益中不对B课程进行结算；
	</p>
	<p>
		（3）8月份C课程结算收益=10元/人*10000人+9.1元/人*50000人-5万元=55.5-5万元=50.5万元；
	</p>
	<p>
		（4）8月份D课程结算收益=10元/人*20000人+9.1元/人*40000人+10000*10*0.75-10万元=20万元+36.4万元+7.5万元-10万元=53.9万元； </p>
	<p> 则乙方9月初结算8月份课程总收益为：乙方的月总收益=（1）+（3）+（4）=（55.5+50.5+53.9）万元=159.9万元 </p>
<p>
	  <br/>
	</p>
	<p class="pro-guide">
		五、结算与支付
	</p>
	<p>
		5.1 双方在乙方课程有收益后每自然月结算一次，甲方应每自然月结束后20个工作日内以电子邮件方式向乙方提供结算报表供乙方核实。若乙方对报表有异议，应于收到报表之日起（以邮件发送时间为准）10个自然日内向甲方提出。如无异议，乙方应于收到报表之日起10个自然日内向甲方出具合格发票和盖章确认的对账单。乙方在收到报表之日起10个自然日内未提出异议，视为乙方无异议，双方按甲方提供的报表进行结算。双方应依法承担各自应当缴纳的各种税费费用，涉及代扣代缴的，甲方有权代扣代缴并提供相关凭证。</p>
	<p>
		甲方作为一个中立的平台，目前，仅代乙方向用户收取课程费用并按上述结算规则将用户支付的课程费用全部支付给乙方（即甲方仅起到代收代付作用），甲方并不获得任何收益，如有用户要求开据相应课程费用的发票时，乙方应当按用户实际缴纳的情况开据合法、有效、等额的发票，如因乙方未开据发票或开据发票不符合法律要求的，由乙方自行承担全部责任。
	</p>
	<p>
		5.2如后续甲方给予奖励、扶持等政策的，该等奖励、扶持等的政策（包括但不限于政策实施的具体方式、政策实施数额及政策结算模式等）均会在甲方相关网站进行颁布，具体的政策以甲方再相关网站颁布的规则为准，乙方对此无异议且同意全部遵守。
	</p>
	<p>
		5.3 甲方依本协议所应支付乙方收益之所有款项，一律以人民币支付，并在收到乙方出具的盖章确认的对账单等凭证后30个工作日以电汇方式直接汇入乙方所指定之以下银行账号：
	</p>
	<p>
		银行账号：<%=bill.bank_account%></b>
	</p>
	<p>
		开&nbsp;户&nbsp;&nbsp;行：<%=bill.bank_name%>
	</p>
	<p>
		户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<%=bill.account || bill.bank_owner%>
	</p>
	<p>
		注：相关文件中（包括但不限于主协议、补充协议及其规则、规范等）如无特别说明，所有涉及到的费用均以人民币为计价单位。
	</p>
	<p>
		<br/>
	</p>
	<p class="pro-guide">
		六、其他
	</p>
	<p>
		6.1 双方在<span class="underline"><%=bill.beginYear%></span>年<span class="underline"><%=bill.beginMonth%></span>月<span class="underline"><%=bill.beginDay%></span>日至<span class="underline"><%=bill.endYear%></span>年<span class="underline"><%=bill.endMonth%></span>月<span class="underline"><%=bill.endDay%></span>日期间按照本补充协议约定执行，若期限届满前，任何一方均未提出书面终止要求的或双方未有共同确认变更本补充协议的，则本协议有效期顺延一年，顺延次数不限。
	</p>
	<p>
		6.2 乙方理解并同意，本补充协议与主协议、双方签署的其他协议、腾讯不时发布的相关规则、规范等，组成一个统一整体，甲方有权根据运营情况单方对前述主协议、双方签署的其他协议、腾讯不时发布的相关规则、规范等进行修改，乙方对修改后的内容，均无异议，并将予以全面同意和遵守。更新后的内容，一旦公布即代替原来的条款，无须另行通知。乙方可在乙方账户上查阅最新版内容。如果乙方不接受修改后的条款，应立即停止使用对应的服务，乙方继续使用甲方服务即视为已接受了修改后的条款。
	</p>
	<p>
		6.3 本补充协议与主协议构成不可分割的整体。主协议约定的事项与本补充协议不一致的，以本补充协议为准；本补充协议未约定的事项，按照主协议的约定执行。
	</p>
	<p>
		6.4 本补充协议壹式两份，双方各执壹份，有同等效力。
	</p>
	<p>
		6.5 本补充协议签订地为中华人民共和国广东省深圳市南山区。
	</p>
	<p>
		6.6 因本协议所引起的任何纠纷或争议，协议各方首先应友好协商解决，协商不成的，各方在此完全同意将纠纷或争议提交协议签订地有管辖权的人民法院诉讼解决。
	</p>
	<p>
		6.7 本补充协议经乙方在甲方平台相关说明页面操作点击“同意”按钮后自动生效。
    <strong>（正文完）</strong></p>
	<p>
		<br/>
	</p>
	<p class="pro-guide"><strong>
	  甲方：深圳市腾讯计算机系统有限公司
	</strong></p>
	<p>
		<br/>
	</p>
	<p class="pro-guide"><strong>
	  乙方：<%=bill.account || bill.bank_owner%>
	</strong></p>
	<p>
		<br/>
	</p>
	<p class="pro-no-indent">
		日期：<span class="underline"><%=bill.curYear%></span>年<span class="underline"><%=bill.curMonth%></span>月<span class="underline"><%=bill.curDay%></span>日
	</p>
</div>