<p>尊敬的<span class="user-name"><%=(typeof nick_name !== "undefined" ? nick_name : "")%></span>用户：</p>
<p class="ti29">1、本关联邀请是腾讯课堂的<span class="agency-name sign-hl"><b><%=(typeof agency_name !== "undefined" ? agency_name : "")%></b>教育机构</span>（也称课程发布者）向您发出的关联您及您QQ号码的邀请，在确认本邀请之前，为保障您的合法权益，您应当确认您已经自行与教育机构签订了线下的关于您成为该教育机构老师并约定相关权利义务的相关协议（具体包括但不限于劳动合同、外包合同、聘用合同等），或您已经妥善处理好了关于您成为该教育机构老师相关权利义务的事项，否则，您应在处理好成为该教育机构老师相关权利义务事项之后，再确认本邀请。您确认本邀请的行为，视为您已经处理好了关于您成为该教育机构老师相关权利义务的事项，由此产生的法律后果您应自行承担。
</p>
<p class="ti29">
    2、您理解并同意：
</p>
<p class="ti29">
    （1）本邀请仅是教育机构关联您及您的QQ号码的邀请，并不作为您成为教育机构老师的法律关系的证明。
</p>
<p class="ti29">
    （2）您确认本邀请后，您QQ号码可能会在教育机构的相关QQ群或提供课程服务的过程中被标注您是老师的外显标识，同时该QQ号码也将做为您在腾讯课堂提供相关课程服务的唯一标识，您应当对以您QQ号码为标识在腾讯课堂的全部行为承担所有法律责任。
</p>
<p class="ti29">
    （3）您确认本邀请后，您将不得再使用该QQ号码在腾讯课堂以个人名义开设课程或成为其他教育机构的老师提供课程服务。您应当按照教育机构的安排及要求提供相应的课程服务。
</p>
<p class="ti29">
    （4）您确认本邀请后，在担任教育机构相关课程的老师时，相关课程收入均统一由教育机构收取，您应自行按照您与教育机构的约定来要求教育机构依照约定的支付方式、收入的数额等内容来履行。
</p>
<p class="ti29">
    （5）腾讯课堂仅是一个中立的平台服务提供者，腾讯仅向教育机构、用户及您提供信息存储空间、链接等中立的网络服务或相关中立的技术支持服务，以供教育机构和您在中立的平台上自主发布、运营、推广其课程等。腾讯不会、也不可能参与教育机构和您就课程的研发、运营等任何活动，腾讯也不会对教育机构和您的课程进行任何的修改、编辑或整理。
</p>
<p class="ti29">
    （6）若您与教育机构、用户等之间产生任何纠纷的，您均应当自行与教育机构、用户等自行协商、诉讼解决，与腾讯公司无关。如因您的行为导致用户、腾讯或他人损失的，您需自行承担全部责任。
</p>
<p class="ti29">
    （7）您接受本邀请后，视为您阅读并同意《<a class="nor-link" href="http://www.qq.com/contract.shtml" target="_blank">腾讯服务协议</a>》、《<a class="nor-link" href="http://zc.qq.com/chs/agreement1_chs.html" target="_blank">QQ号码规则</a>》、《<a href="http://kiss.3g.qq.com/activeQQ/softLicen.jsp?pagNo=1" target="_blank" class="nor-link">QQ软件许可及服务协议</a>》、《<a href="http://admin.qun.qq.com/create/agreement.html" target="_blank" class="nor-link">QQ群服务协议</a>》等与腾讯课堂相关的相关协议、规则、规范以及腾讯可能不断发布的关于本服务的相关协议、规则、规范等内容。
</p>
<p class="ti29">
    （8）若您和教育机构、用户、腾讯等之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交到本规则的签订地有管辖权的人民法院管辖（本规则签订地为中华人民共和国广东省深圳市南山区）。
</p>
<p class="ti29">
    （9）除非您已阅读并同意本规则及相关协议、规则、规范，否则您无权接受本邀请。您对本邀请的确认、提供课程服务等行为即视为您已阅读并同意本规则及相关协议、规则、规范。
</p>
