<p>敬爱的<span class="user-name sign-hl"><%=(typeof group_name !== "undefined" ? group_name : "")%></span>的群主：</p>
<p class="ti29">
    1、本关联邀请是腾讯课堂的<span class="agency-name  sign-hl"><b><%=(typeof agency_name !== "undefined" ? agency_name : "")%></b>教育机构</span>（也称课程发布者）向您发出的关联您QQ群的邀请，在确认本邀请之前，为保障您的合法权益，您应当确认您已经自行与教育机构签订了线下的关于您的QQ群关联该教育机构并约定相关权利义务的相关协议（具体包括但不限于劳动合同、外包合同、聘用合同等），或您已经妥善处理好了关于您的QQ群关联该教育机构相关权利义务的事项，否则，您应在处理好您的QQ群关联该教育机构相关权利义务事项之后，再确认本邀请。您确认本邀请的行为，视为您已经处理好了您的QQ群关联该教育机构老师相关权利义务的事项，由此产生的法律后果您应自行承担。
</p>
<p class="ti29">
　　2、您理解并同意：
</p>
<p class="ti29">
    （1）本邀请仅是教育机构关联您的QQ群的邀请，并不作为您与教育机构存在任何法律关系的证明。
</p>
<p class="ti29">
　　（2）您应当保证，您的QQ群未进行任何群认证，除已认证为本关联邀请的教育机构的认证群除外，否则，经教育机构投诉或腾讯自行发现后，腾讯公司有权取消对您的QQ群的认证。
</p>
<p class="ti29">
　　您同意本关联邀请后，您的QQ群会被教育机构在腾讯课堂的相应页面中标注并设置为某种课程使用用途的QQ群，包括可能被标注为用于专门负责招生咨询的招生群、已上完课程的课程群及正在接受课程服务的付费服务群等，被标注为相应用途的QQ群后，可能会有相应的功能表现，具体QQ群的使用用途以您与教育机构约定的为准，腾讯不会也不可能参与其中。
</p>
<p class="ti29">
　　（4）您的QQ群与教育机构进行关联后，您应按照您与教育机构的约定对该QQ群的管理，包括但不限于解散QQ群、添加/删除QQ群成员、发布相应的文字/图片/视频信息、存储相应资料等。
</p>
<p class="ti29">
　　（5）腾讯课堂仅是一个中立的平台服务提供者，腾讯仅向教育机构、用户、老师提供信息存储空间、链接等中立的网络服务或相关中立的技术支持服务，以供教育机构和老师在中立的平台上自主发布、运营、推广其课程等。腾讯不会、也不可能参与教育机构和老师就课程的研发、运营等任何活动，腾讯也不会对教育机构和老师的课程进行任何的修改、编辑或整理。
</p>
<p class="ti29">
    （6）若您与教育机构、用户等之间产生任何纠纷的，您均应当自行与教育机构、用户等自行协商、诉讼解决，与腾讯公司无关。如因您的行为导致用户、腾讯或他人损失的，您需自行承担全部责任。
</p>
<p class="ti29">
    （7）您接受本邀请后，视为您阅读并同意《<a class="nor-link" href="http://www.qq.com/contract.shtml" target="_blank">腾讯服务协议</a>》、《<a class="nor-link" href="http://zc.qq.com/chs/agreement1_chs.html" target="_blank">QQ号码规则</a>》、《<a href="http://kiss.3g.qq.com/activeQQ/softLicen.jsp?pagNo=1" target="_blank" class="nor-link">QQ软件许可及服务协议</a>》、《<a href="http://admin.qun.qq.com/create/agreement.html" target="_blank" class="nor-link">QQ群服务协议</a>》等与腾讯课堂相关的相关协议、规则、规范以及腾讯可能不断发布的关于本服务的相关协议、规则、规范等内容。
</p>
<p class="ti29">
   （8）若您和教育机构、用户、腾讯等之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交到本规则的签订地有管辖权的人民法院管辖（本规则签订地为中华人民共和国广东省深圳市南山区）。
</p>
<p class="ti29">
    （9）除非您已阅读并同意本规则及相关协议、规则、规范，否则您无权接受本邀请。您对本邀请的确认、提供课程服务等行为即视为您已阅读并同意本规则及相关协议、规则、规范。
</p>
