<form action="" class="mod-form mod-form_tight">
    <div class="mod-form__block">
        <h6 class="mod-form__block-name">腾讯课堂信息</h6>

        <p class="accont-warning"><i class="icon-font i-info"></i>您申请入驻的账号为：<span class="name"></span>，将通过此账号登录腾讯课堂。如需更换账号，请<a href="javascript:;" class="nor-link relogin-link">重新登录</a></p>
        <div class="mod-form__block-content">

            <!-- 机构图标 -->
            <div class="mod-form__line mod-form__upload-img-wrap">
                <label class="mod-form__label mod-form__label_top"><b>*</b>机构图标</label>
                <div class="mod-form__content">
                    <!-- mod-form__upload-img_redo -->
                    <div class="upload mod-form__upload-img mod-form__upload-img_square">
                        <div class="mod-form__upload-img-text">
                            <span>+</span><i>点击上传图片</i>
                        </div>
                        <img class="hide" id="agency-cover-view" data-pattern="not_null" data-msg="机构图标不能为空" width="222" height="125"/>
                        <div class="mask">
                            <div class="mask-bg"></div>
                            <div class="mask-cont">重新上传图片</div>
                        </div>
                        <input type="file" name="filename" accept="image/*" id="agency-cover-upload"/>
                    </div>
                    <div class="mod-form__upload-tips">
                        <p class="cover-tip">
                            尺寸大于130X130，小于500X500<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                        </p>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>

            <!-- 机构名称 -->

            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>机构名称</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_name" class="input-text check-sensitive" data-pattern="not_null|limitByLength" data-min="1" data-max="20" data-tips="请填写机构名称，20字以内" data-msg="机构名称不能为空" placeholder="请填写机构名称">
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 机构简介 -->

            <div class="mod-form__line mod-form__textarea-wrap">
                <label class="mod-form__label" for="cp_summary"><b>*</b>机构简介</label>
                <div class="mod-form__content mod-form__content-long">
                    <textarea name="goal" id="cp_summary" data-pattern="not_null|limitByLength" data-min="1" data-max="150" data-tips="请填写机构简介，150字以内" data-msg="机构简介不能为空" placeholder="请填写机构简介" class="check-sensitive"></textarea>
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 机构分类 -->
            <div class="mod-form__line mod-form__select-wrap mod-form__tag-wrap">
                <label class="mod-form__label label-ie6-fix"><b>*</b>主营类目</label>
                <div class="mod-form__content">
                    <div class="diy-select-area tmpl-tag1" data-pattern="tag">
                        <a href="javascript:;" id="cp_tag1" class="diy-select" data-select="tag1">
                            <i class="text text-tip">请选择主营类目</i><span><b></b></span>
                        </a>
                        <ul class="diy-optgroud" style="height: 185px; overflow-y: hidden;">
                            <li class="diy-option" data-value="1001"><a href="javascript:;">职业技能</a></li>
                            <li class="diy-option" data-value="1002"><a href="javascript:;">IT培训</a></li>
                            <li class="diy-option" data-value="1003"><a href="javascript:;">语言学习</a></li>
                            <li class="diy-option" data-value="1004"><a href="javascript:;">中小学/大学</a></li>
                            <li class="diy-option" data-value="1005"><a href="javascript:;">兴趣爱好</a></li>
                            <li class="diy-option" data-value="1006" style="border-bottom-width: 0px;"><a href="javascript:;">亲子课堂</a>
                            </li>
                        </ul>
                    </div>
                    <div class="field-help"><i></i></div>
                    <p class="tag-warning">注：<b>主营类目一旦选定将不支持修改，该分类与可开设课程类型一致</b><br><a href="http://support.ke.qq.com/forum.php?mod=viewthread&tid=155" target="_blank" class="nor-link">点击查看主营类目相关规定说明</a></p>
                </div>
            </div>

            <!-- 咨询QQ -->

            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>咨询QQ</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_uin" class="input-text input-text_short check-sensitive" data-pattern="not_null|uin" data-tips="请填写咨询QQ" data-msg="QQ号码格式不正确" placeholder="请填写咨询QQ">
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 主页域名 -->

            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>主页域名</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_domain" class="input-text input-text_short" data-pattern="not_null|limitByLength|letterAndNum" data-min="3" data-max="8" data-tips="请填写机构域名，3-8个字" data-msg="主页域名不能为空" placeholder="请填写主页域名"/>
                    <span class="addition-text">.ke.qq.com</span>
                    <div class="field-help"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mod-form__block">
        <h6 class="mod-form__block-name">机构信息</h6>
        <div class="mod-form__block-content">

            <!-- 公司名称 -->

            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>公司名称</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_company" class="input-text check-sensitive"  data-pattern="not_null|limitByLength" data-min="1" data-max="50" data-tips="50个字以内" data-msg="公司名称不能为空" placeholder="请填写公司名称"/>
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 组织机构代码证 -->

            <div class="mod-form__line mod-form__upload-img-wrap">
                <label class="mod-form__label mod-form__label_top"><b>*</b>组织机构代码证</label>
                <div class="mod-form__content">
                    <!-- mod-form__upload-img_redo -->
                    <div class="upload mod-form__upload-img">
                        <div class="mod-form__upload-img-text">
                            <span>+</span><i>点击上传图片</i>
                        </div>
                        <img class="hide" id="agency-org-view" data-pattern="not_null" data-msg="组织机构代码证不能为空" width="222" height="125"/>
                        <div class="mask">
                            <div class="mask-bg"></div>
                            <div class="mask-cont">重新上传图片</div>
                        </div>
                        <input type="file" name="filename" accept="image/*" id="agency-org-upload"/>
                    </div>
                    <div class="mod-form__upload-tips">
                        <p class="cover-tip">
                            请上传组织机构代码证的副本扫描件<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                        </p>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>
            
            <!-- 组织机构代码 -->
            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>组织机构代码</label>
                <div class="mod-form__content">
                    <input type="text" id="agency-org-code" class="input-text check-sensitive"  data-pattern="not_null|orgCode" data-tips="代码示例：12345678-9" data-msg="组织机构代码不能为空" placeholder="请填写组织机构代码"/>
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 机构性质 -->
            <div class="mod-form__line mod-form__radios-wrap">
                <label class="mod-form__label"><b>*</b>机构性质</label>
                <div class="mod-form__content">
                    <div class="radios js-agency-choose">
                        <div class="radio radio-check" data-value="0">
                            <i></i><label><a href="javascript:;">我有营业执照</a></label>
                        </div>
                        <div class="radio" data-value="1">
                            <i></i><label><a href="javascript:;">我没有营业执照</a></label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="js-agency-license">
                        
                <!-- 营业执照 -->

                <div class="mod-form__line mod-form__upload-img-wrap">
                    <label class="mod-form__label mod-form__label_top"><b>*</b>营业执照</label>
                    <div class="mod-form__content">
                        <!-- mod-form__upload-img_redo -->
                        <div class="upload mod-form__upload-img">
                            <div class="mod-form__upload-img-text">
                                <span>+</span><i>点击上传图片</i>
                            </div>
                            <img class="hide" id="agency-license-view" data-pattern="not_null" data-msg="营业执照不能为空" width="222" height="125"/>
                            <div class="mask">
                                <div class="mask-bg"></div>
                                <div class="mask-cont">重新上传图片</div>
                            </div>
                            <input type="file" name="filename" accept="image/*" id="agency-license-upload"/>
                        </div>
                        <div class="mod-form__upload-tips">
                            <p class="cover-tip">
                                请上传有年检章的企业营业执照副本扫描件<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                            </p>
                            <div class="field-help"></div>
                        </div>
                    </div>
                </div>
                <!-- 营业执照注册号 -->

                <div class="mod-form__line">
                    <label class="mod-form__label"><b>*</b>营业执照注册号</label>
                    <div class="mod-form__content">
                        <input type="text" id="agency-license-code" class="input-text check-sensitive"  data-pattern="not_null|limitByLength" data-min="1" data-max="50" data-tips="请填写营业执照上的注册号码" data-msg="营业执照注册号不能为空" placeholder="请填写营业执照上的注册号"/>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>
            
            <div class="js-agency-qualification">
                <!-- 教育资质证书 -->

                <div class="mod-form__line mod-form__upload-img-wrap">
                    <label class="mod-form__label mod-form__label_top"><b class="hide">*</b>教育资质证书</label>
                    <div class="mod-form__content">
                        <!-- mod-form__upload-img_redo -->
                        <div class="upload mod-form__upload-img">
                            <div class="mod-form__upload-img-text">
                                <span>+</span><i>点击上传图片</i>
                            </div>
                            <img class="hide nopattern" id="agency-qualification-view" data-pattern="not_null" data-msg="教育资质不能为空" width="222" height="125"/>
                            <div class="mask">
                                <div class="mask-bg"></div>
                                <div class="mask-cont">重新上传图片</div>
                            </div>
                            <input type="file" name="filename" accept="image/*" id="agency-qualification-upload"/>
                        </div>
                        <div class="mod-form__upload-tips">
                            <p class="cover-tip">
                                请上传可证明拥有教育培训资格的证书扫描件，如办学许可证<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                            </p>
                            <div class="field-help"></div>
                        </div>
                    </div>
                </div>
                 <!-- 证书编号 -->

                <div class="mod-form__line">
                    <label class="mod-form__label"><b class="hide">*</b>证书编号</label>
                    <div class="mod-form__content">
                        <input type="text" id="agency-qualification-code" class="input-text check-sensitive nopattern"  data-pattern="limitByLength" data-min="0" data-max="50" data-tips="请填入证书编号" data-msg="证书编号不能为空" placeholder="请填写证书编号"/>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>

            <!-- 授权运营书 -->

            <div class="mod-form__line mod-form__upload-img-wrap">
                <label class="mod-form__label mod-form__label_top"><b>*</b>承诺书</label>
                <div class="mod-form__content">
                    <!-- mod-form__upload-img_redo -->
                    <div class="upload mod-form__upload-img">
                        <div class="mod-form__upload-img-text">
                            <span>+</span><i>点击上传图片</i>
                        </div>
                        <img class="hide" id="agency-authorize-view" data-pattern="not_null" data-msg="承诺书不能为空" width="222" height="125"/>
                        <div class="mask">
                            <div class="mask-bg"></div>
                            <div class="mask-cont">重新上传图片</div>
                        </div>
                        <input type="file" name="filename" accept="image/*" id="agency-authorize-upload"/>
                    </div>
                    <div class="mod-form__upload-tips">
                        <p class="cover-tip">
                            请下载<a class="nor-link" href="http://pub.idqqimg.com/edu/utils/promise.doc">腾讯课堂承诺书</a>按要求填写表格后，上传加盖公章的扫描件<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                        </p>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>

            <!-- 申请人 -->

            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>申请人</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_applyer" class="input-text input-text_short check-sensitive" data-pattern="not_null|limitByLength" data-min="1" data-max="20" data-tips="20个字以内" data-msg="申请人不能为空"  placeholder="请填写申请人真实姓名"/>
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 身份证 -->

            <div class="mod-form__line mod-form__upload-img-wrap mod-form__upload-img-wrap_additional">
                <label class="mod-form__label mod-form__label_top"><b>*</b>身份证</label>
                <div class="mod-form__content">
                    <!-- mod-form__upload-img_redo -->
                    <div class="upload mod-form__upload-img">
                        <div class="mod-form__upload-img-text">
                            <span>+</span><i>点击上传图片</i>
                        </div>
                        <img class="hide" id="agency-identification-view" data-pattern="not_null" data-msg="身份证不能为空" width="222" height="125"/>
                        <div class="mask">
                            <div class="mask-bg"></div>
                            <div class="mask-cont">重新上传图片</div>
                        </div>
                        <input type="file" name="filename" accept="image/*" id="agency-identification-upload"/>
                    </div>
                    <div class="mod-form__upload-tips">
                        <p class="cover-tip">
                            请上传手持身份证的半身照<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                        </p>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>

            <!-- 手机 -->

            <div class="mod-form__line js-phone-before">
                <label class="mod-form__label"><b>*</b>手机</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_phone" class="input-text input-text_short" data-pattern="not_null|mobile" data-tips="请填写手机号码" data-msg="请输入正确的手机号码，并验证手机" placeholder="请填写手机号码"/>
                    <a href="javascript:void(0);" id="cp_check_phone" class="disabled btn-weak btn-weak_small btn-err">验证手机</a>
                    <div class="field-help"></div>
                </div>
            </div>

            <!-- 手机 验证后-->

            <div class="mod-form__line js-phone-succ hide">
                <label class="mod-form__label"><b>*</b>手机</label>
                <div class="mod-form__content">
                    <span class="mod-form__main-text cp_phone_succ"></span>
                    <a href="javascript:void(0);" class="mod-form__link js-edit-phone">修改手机号</a>
                </div>
            </div>

            <!-- 邮箱 -->

            <div class="mod-form__line">
                <label class="mod-form__label"><b>*</b>邮箱</label>
                <div class="mod-form__content">
                    <input type="text" id="cp_mail" class="input-text input-text_short" data-pattern="not_null|email" data-tips="请填写邮箱" data-msg="请输入正确的邮箱" placeholder="请填写邮箱"/>
                    <div class="field-help"><i></i></div>
                </div>
            </div>

            <!-- 商标许可 -->

            <div class="mod-form__line mod-form__upload-img-wrap">
                <label class="mod-form__label mod-form__label_top">商标许可</label>
                <div class="mod-form__content">
                    <!-- mod-form__upload-img_redo -->
                    <div class="upload mod-form__upload-img">
                        <div class="mod-form__upload-img-text">
                            <span>+</span><i>点击上传图片</i>
                        </div>
                        <img class="hide" id="agency-trademark-view" data-msg="商标许可不能为空" width="222" height="125"/>
                        <div class="mask">
                            <div class="mask-bg"></div>
                            <div class="mask-cont">重新上传图片</div>
                        </div>
                        <input type="file" name="filename" accept="image/*" id="agency-trademark-upload"/>
                    </div>
                    <div class="mod-form__upload-tips">
                        <p class="cover-tip">
                            请上传商标注册证<br>文件小于2M<br>支持JPG/PNG/BMP等格式图片
                        </p>
                        <div class="field-help"></div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <div class="mod-form__line">
        <label class="mod-form__label"></label>
        <div class="mod-form__content">
            <a href="javascript:void(0);" class="btn-default btn-submit">提交资料</a>
        </div>
    </div>
</form>
