@charset "utf-8";

// Footer
//
// 通用底部组件
//
// Styleguide 31

// 一般底部
//
// Markup:
// <div class="footer">
//    <p>Copyright © 2015 Tencent. All Rights Reserved.</p>
//    <p>深圳市腾讯计算机系统有限公司 版权所有</p>
// </div>
//
// Styleguide 31.1

// 深色底部，用于内页
//
// Markup:
// <div class="footer footer_dark">
//    <i class="icon-logo-gray"></i>
//    <p>Copyright © 1998-2015 Tencent. All Rights Reserved.</p>
//    <p>腾讯公司 版权所有</p>
// </div>
//
// Styleguide 31.2

// 新版写法

.footer{
	padding-top: 40px;
	height: 180px;
	box-sizing: border-box;
	text-align:center;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	background: #444547;
	font-size: 12px;
	
	p, a{
		color: #777;
		line-height: 24px;
	}
	a:hover{
		text-decoration: underline;
	}

	.i-logo{
		font-size: 42px;
		color: #808080;
	}
	
}



