@charset "UTF-8";

// TreeResource
//
// 树桩资源卡
//
// Styleguide 22

// 无链接树状资源
//
// Markup:
//<ul class="treeres">
//	<li class="treeres-item rb">
//		<div class="treeres-num">11</div>
//		<div class="treeres-cat">课程</div>
//	</li>
//	<li class="treeres-item rb">
//		<div class="treeres-num">22</div>
//		<div class="treeres-cat">老师</div>
//	</li>
//	<li class="treeres-item">
//		<div class="treeres-num">33</div>
//		<div class="treeres-cat">群</div>
//	</li>
//</ul>
//
// Styleguide 22.1

.treeres {
    height: 68px;
	overflow: hidden;
	.rb {
		border-right: 1px solid #dcdcdc;
	}
	.treeres-item {
		float: left;
		// width: 59px;
		width: 80px;
		height: 68px;
		font-size: 18px;
		.treeres-num {
			font-size: 28px;
			line-height: 36px;
			color: #e85308;
			text-align: center;
		}
		.treeres-cat {
			line-height: 32px;
			text-align: center;
		}
	}
}

// 有链接树状资源
//
// Markup:
//<ul class="treeres-active">
//	<li class="treeres-item rb">
//		<div class="treeres-num">11</div>
//		<div class="treeres-cat">课程</div>
//	</li>
//	<li class="treeres-item rb">
//		<div class="treeres-num">22</div>
//		<div class="treeres-cat">老师</div>
//	</li>
//	<li class="treeres-item">
//		<div class="treeres-num">33</div>
//		<div class="treeres-cat">群</div>
//	</li>
//</ul>
//
// Styleguide 22.2

.treeres-active {
	height: 68px;
	overflow: hidden;
	.rb {
		border-right: 1px solid #dcdcdc;
	}
	.treeres-item {
		float: left;
		width: 59px;
		height: 68px;
		font-size: 18px;
		cursor: pointer;
		.treeres-num {
			font-size: 28px;
			line-height: 36px;
			color: #e85308;
			text-align: center;
		}
		.treeres-cat {
			text-align: center;
			line-height: 32px;
			&:hover {
				transition:.3s;
				color: $colorLinkHover;
			}
		}
		&:hover {
			background-color: #e5e5e5;
		}
	}
}
