@charset "utf-8";

// 旧版样式

@mixin btn-size($width, $height, $line-height) {
    width: $width;
    height: $height;
    line-height: $line-height;
}

// 教育平台-图文竖向排版
.course-card {
    cursor: pointer;
    position: relative;
    padding: $course-card-padding;
    width: $course-card-width;
    line-height: $course-card-line-height;
    overflow: hidden;
    transition: 0.3s;
    .icon-sep{
        width:1px;
        margin:0 10px;
    }
    .course-score{
        vertical-align:baseline;
    }
    &:hover{
        @include background-color($course-card-default-bcolor, $course-card-advanced-bcolor);
    }
    .course-face {
    	position: relative;
    	width: $course-card-width;
    	height: $course-card-face-height;
    	a, img {
			width: $course-card-width;
        	height: $course-card-face-height;
            display: inline-block;vertical-align: middle;
    	}
    	.border {
    		@include border(0, $course-card-width - 2, $course-card-face-height - 2);
    	}
    	.course-time {
    		position: absolute;
	        bottom: 0;
	        left: 0;
	        width: $course-card-width;
	        height: $course-card-line-height;
	        line-height: $course-card-line-height;
	        text-indent: $course-card-face-indent;
	        color: $course-card-face-color;
	        @include background-color($course-card-face-default-bcolor, $course-card-face-advanced-bcolor);
    	}
    }
    .course-title {
    	margin-top: 7px;
	    height: $course-card-line-height;
	    overflow: hidden;
	    a {
	        color: #333;
	        font-size: $course-card-large-font;
            @include max-width($course-card-width);
            @include word-break();
            @include ellipsis();
            display: inline-block;vertical-align: middle;
            transition: 0.3s;
	        &:hover {
	            color: $colorLinkHover;
	        }
	    }
	}
	.course-emphasis {
        color:#999;
	    margin-top: 8px;
	    height: $course-card-line-height;
	    .course-price {
	        color:#5fb41b;
	        font-size: $course-card-large-font;
	        height: $course-card-line-height;
	        line-height: $course-card-line-height - $course-card-large-font + 12px;
	        display:inline-block;vertical-align:middle;
	    }
	    .course-num{
	    	// 空格宽度 3px
	    	margin-left: 7px;
	        height: $course-card-line-height;
	        line-height: $course-card-line-height;
	        color: #999;
            margin-left:0;
           vertical-align:baseline;
	        display:inline-block;vertical-align:middle;
	    }
	}
	.course-agency {
		position: relative;
		@include word-break();
        @include ellipsis();
        height: $course-card-btn-height;
        color: #999;
        transition: 0.3s;
        display:inline-block;vertical-align:middle;
        &:hover {
            color: $colorLinkHover;
        }
        .course-agency-icon {
        	position: absolute;
        	top: ($course-card-btn-height - $course-card-agency-icon-size) / 2;
        	left: 0;
        	width: $course-card-agency-icon-size;
	        height: $course-card-agency-icon-size;
	        @include border-radius(2px);
        }
        img {
        	width: $course-card-agency-icon-size;
	        height: $course-card-agency-icon-size;
        }
        .border {
	        @include border(2px, $course-card-agency-icon-size - 2, $course-card-agency-icon-size - 2);
	    }
        .course-agency-name {
        	height: $course-card-btn-height;
        	line-height: $course-card-btn-height;
        }
    }
    .course-btn {
        @include btn-size($course-card-btn-width, $course-card-btn-height, $course-card-btn-height);
        font-size: 12px;
        position: absolute;
        right: $course-card-padding;
        bottom: $course-card-padding;


//	    未引用，先注释

//        .live-btn-loading{
//            display: none;
//            position: absolute;
//            top: 3px;
//            left: 28px;
//        }

        .loading-dot{
            position: absolute;
        }
    }

	// 向新版卡片靠拢
	.icon-card-lu{
		display:inline-block;vertical-align:middle;
		background: url("../img/bg/play_icon_normal_index.png") no-repeat;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
    .mod-support-listen{
        position: absolute;
        color: #fff;
        top: 1px;
        left: 1px;
        font-size: 14px;
        background: url("../img/bg/subscript.png") no-repeat;
        width: 77px;
        height: 21px;
        padding-left: 5px;
    }
}

.course-card-for-agency {
	.course-agency {
		display: none;
	}
    .course-emphasis {
        height: $course-card-btn-height;
    }
}

.course-card-nobtn {
    .course-agency {
        @include max-width($course-card-width - $course-card-agency-icon-size - 5);
    }
    .course-btn {
        display: none;
    }
}
