@charset "utf-8";

// SideBarLeft
//
// 左侧导航栏
//
// 整理优化 @fierayan
//
// 请使用模板中所示的规范写法
//
// 合并了 我的课程，机构管理，帮助 三个页面中的左侧导航
//
// Styleguide 15

// 默认左侧导航
//
// Markup:
//<div class="mod-side-bar-left">
//	<ul class="mod-side-bar-left__ul">
//		<li class="mod-side-bar-left__li">
//			<a href="#" class="mod-side-bar-left__a">一级导航<span class="red-point">●</span></a>
//		</li>
//		<li class="mod-side-bar-left__li">
//			<a href="#" class="mod-side-bar-left__a">一级导航</a>
//		</li>
//		<li class="mod-side-bar-left__li mod-side-bar-left__li_sub">
//			<a href="#" class="mod-side-bar-left__a">二级导航</a>
//		</li>
//		<li class="mod-side-bar-left__li mod-side-bar-left__li_sub">
//			<a href="#" class="mod-side-bar-left__a">二级导航</a>
//		</li>
//		<li class="mod-side-bar-left__li">
//			<a href="#" class="mod-side-bar-left__a">一级导航</a>
//		</li>
//		<li class="mod-side-bar-left__li mod-side-bar-left__li_current">
//			<a href="#" class="mod-side-bar-left__a">一级导航</a>
//		</li>
//		<li class="mod-side-bar-left__li">
//			<a href="#" class="mod-side-bar-left__a">一级导航<b></b></a>
//		</li>
//	</ul>
//</div>
//
// Styleguide 15.1

// 左侧导航分块
//
// Markup:
//<div class="mod-side-bar-left">
//	<ul class="mod-side-bar-left__ul">
//		<li class="mod-side-bar-left__li mod-side-bar-left__li_block">
//			<p class="mod-side-bar-left__block-title">模块名称</p>
//			<ul class="mod-side-bar-left__ul">
//				<li class="mod-side-bar-left__li">
//					<a href="#" class="mod-side-bar-left__a">一级导航</a>
//				</li>
//				<li class="mod-side-bar-left__li mod-side-bar-left__li_current">
//					<a href="#" class="mod-side-bar-left__a">一级导航</a>
//				</li>
//				<li class="mod-side-bar-left__li">
//					<a href="#" class="mod-side-bar-left__a">一级导航</a>
//				</li>
//			</ul>
//		</li>
//		<li class="mod-side-bar-left__li mod-side-bar-left__li_block">
//			<p class="mod-side-bar-left__block-title">模块名称</p>
//			<ul class="mod-side-bar-left__ul">
//				<li class="mod-side-bar-left__li">
//					<a href="#" class="mod-side-bar-left__a">一级导航</a>
//				</li>
//				<li class="mod-side-bar-left__li mod-side-bar-left__li_current">
//					<a href="#" class="mod-side-bar-left__a">一级导航</a>
//				</li>
//				<li class="mod-side-bar-left__li mod-side-bar-left__li_sub">
//					<a href="#" class="mod-side-bar-left__a">二级导航</a>
//				</li>
//				<li class="mod-side-bar-left__li mod-side-bar-left__li_sub">
//					<a href="#" class="mod-side-bar-left__a">二级导航</a>
//				</li>
//			</ul>
//		</li>
//		<li class="mod-side-bar-left__li mod-side-bar-left__li_block">
//			<p class="mod-side-bar-left__block-title">模块名称</p>
//			<ul class="mod-side-bar-left__ul">
//				<li class="mod-side-bar-left__li mod-side-bar-left__li_current">
//					<a href="#" class="mod-side-bar-left__a">一级导航</a>
//				</li>
//				<li class="mod-side-bar-left__li">
//					<a href="#" class="mod-side-bar-left__a">一级导航<b></b></a>
//				</li>
//			</ul>
//		</li>
//	</ul>
//</div>
//
// Styleguide 15.2


.mod-side-bar-left{
	background: #FFF;
}
.mod-side-bar-left__ul{
	padding-top: 15px;
}
.mod-side-bar-left__li{
	width: 219px;
	//height: 45px;
	overflow: hidden;
}
.mod-side-bar-left__a{
	position: relative;
	height: 45px;
	line-height: 45px;
	color: #333;
	display: block;
	font-size: 14px;
	text-indent: 20px;
	border-left:4px solid #fff;
	&:hover{
		background: #f2f2f2;
		font-size: 14px;
		color: #049ee4;
		border-left:4px solid #e5e5e5;
	}
	.red-point{
		color: #f94d4d;
		margin-left: 5px;
	}
	b{
		position:absolute;
		top: 18px;
		left: 38px;
		width: 3px;
		height: 3px;
		display: block;
		overflow: hidden;
		background:#7f7f7f;
		border-radius: 2px;
		display: none;
	}
	i{
		margin-left: 8px;
		padding: 0 5px;
		font-size: 12px;
		line-height: 15px;
		background-color: #d7605c;
		color: #fff;
		font-family: Tahoma;
		display: none;
		border-radius: 7px;
		display: none;
	}
}
.mod-side-bar-left__li_current{
	.mod-side-bar-left__a{
		color: #039ae3;
		border-left:4px solid #039ae1;
		&:hover{
			background: #fff;
			border-left:4px solid #039ae1;
		}
	}
}
.mod-side-bar-left__li_sub{
	width: 219px;
	height: 30px;
	overflow: hidden;
	.mod-side-bar-left__sub_a{
		position: relative;
		height: 30px;
		line-height: 30px;
		color: #666666;
		display: block;
		font-size: 14px;
		text-indent: 20px;
		padding-left: 15px;
		&:hover{
			background: #f2f2f2;
			font-size: 14px;
			color: #039ae3;
			padding-left: 15px;
		}
	}
	&.mod-side-bar-left__li_sub_current{
		.mod-side-bar-left__sub_a{
			color: #039ae3;
			&:hover{
		        background: #ffffff;
			}
		}

	}
}

// 分模块导航

.mod-side-bar-left__li_block{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	height: auto;
	.mod-side-bar-left__ul{
		padding-top: 0;
	}
}
.mod-side-bar-left__block-title{
	height: 50px;
	color: #666;
	font-size: 22px;
	line-height: 50px;
	text-indent: 24px;
}

// 可收缩侧栏

.mod-side-bar-left_toggle{
	padding-top: 0;
	.mod-side-bar-left__li_block{
		padding-bottom: 0;
	}
	.mod-side-bar-left__a{
		line-height: 55px;
		font-size: 16px;
		position: relative;
	}
	.mod-side-bar-left__ul_sub{
		padding-bottom: 15px;
	}
	.mod-side-bar-left__li_sub{
		.mod-side-bar-left__sub_a{
			font-size: 14px;
		}
	}
	.icon-v{
		position: absolute;
		width: 10px;
		height: 5px;
		right: 20px;
		top:25px;
	}
	.mod-side-bar-left__li_close{
		.mod-side-bar-left__ul_sub{
			display: none;
		}
	}
}



// 旧版写法

// .l-nav-area {
// 	background: #FFF;
// }

// .l-nav{
	
// 	.l-nav-item{
// 		width: 100%;
// 		height: 45px;
// 		overflow: hidden;
// 		a{
// 			position: relative;
// 			height: 45px;
// 			line-height: 45px;
// 			color: #333;
// 			display: block;
// 			font-size: 14px;
// 			text-indent: 30px;
// 			border-left:4px solid #fff;
// 			&:hover{
// 				background: #f2f2f2;
// 				font-size: 14px;
// 				color: #049ee4;
// 				border-left:4px solid #e5e5e5;
// 			}
// 			.red-point{
// 				color: #f94d4d;
// 				position: relative;
// 				top: -6px;
// 			}
// 			b{
// 				position:absolute;
// 				top: 18px;
// 				left: 38px;
// 				width: 3px;
// 				height: 3px;
// 				display: block;
// 				overflow: hidden;
// 				background:#7f7f7f;
// 				border-radius: 2px;
// 				display: none;
// 			}
// 			i{
// 				margin-left: 8px;
// 				padding: 0 5px;
// 				font-size: 12px;
// 				line-height: 15px;
// 				background-color: #d7605c;
// 				color: #fff;
// 				font-family: Tahoma;
// 				display: none;
// 				border-radius: 7px;
// 				display: none;
// 			}
// 		}
// 	}

// 	.l-nav-item-child{
// 		width: 189px;
// 		height: 30px;
// 		overflow: hidden;
// 		a{
// 			position: relative;
// 			height: 30px;
// 			line-height: 30px;
// 			color: #666;
// 			display: block;
// 			font-size: 14px;
// 			text-indent: 20px;
// 			padding-left: 15px;
// 			&:hover{
// 				background: #f2f2f2;
// 				font-size: 14px;
// 				color: #039ae3;
// 				padding-left: 15px;
// 			}
// 		}
// 	}

// 	.l-nav-cur{
// 		a {
// 			color: #039ae3;
// 			border-left:4px solid #039ae1;
// 			&:hover{
// 				background: #fff;
// 				border-left:4px solid #039ae1;
// 			}
// 		}

// 	}
// }
