@charset "UTF-8";

// Breadcrumbs
//
// 面包屑导航组件
//
// css @fierayan
//
// Markup:
//<div class="mod-breadcrumbs">
//	<a href="" class="mod-breadcrumbs__nav">根目录</a>
//	<span class="mod-breadcrumbs__arrow">&nbsp;&gt;&nbsp;</span>
//	<a href="" class="mod-breadcrumbs__nav">一级目录</a>
//	<span class="mod-breadcrumbs__arrow">&nbsp;&gt;&nbsp;</span>
//	<a href="" class="mod-breadcrumbs__nav">二级目录</a>
//	<span class="mod-breadcrumbs__arrow">&nbsp;&gt;&nbsp;</span>
//	<span class="mod-breadcrumbs__current">三级目录</span>
//</div>
//
// Styleguide 8


.mod-breadcrumbs{
	font-size: 0;
	width: 960px;	
	margin: 0 auto 20px;
	// cursor: pointer;
}
.mod-breadcrumbs__nav{
	font-size: 14px;
	color: #333;
	&:hover{
		color:#188EEE;
	}
}
.mod-breadcrumbs__arrow{
	color:#999999;
	font-size: 14px;
}
.mod-breadcrumbs__current{
	font-size: 14px;
	color: #666666;
	cursor: default;
}