@charset "UTF-8";

// 2015-07-27 ycxu

.modal{
	position: fixed;
	display: none;
	background: #fff;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	font-size:14px;
	z-index: $zIndexOverlay;

	.modal-hd{
		line-height: 30px;
		color: #fff;
		background: $primary;
		border-radius: 4px 4px 0 0;
		.hd-tt{
			line-height: 30px;
			font-size: 14px;
			padding-left: 10px;
		}
	}
	.btn-close{
		position: absolute;
		top:0;
		right: 0;
		width: 30px;
		height: 30px;
		color: #B4E8E8;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		&:hover{
			color: #fff;
		}
	}
	.modal-bd--padding{
		padding: 30px 40px;
		+ .modal-ft{
			padding-top: 0;
		}
	}
	.msg-text{
		@extend %word-break;
	}
	.modal-ft{
		padding: 20px;
		text-align: right;
		&.modal-ft--center{
			text-align: center;
		}
		.btn-default,
		.btn-weak{
			line-height: 36px;
			width: 100px;
		}
		.btn-weak{
			line-height: 34px;
			margin-left: 20px;
		}
	}
}
.modal--scroll{
	.modal-bd{
		overflow-y: scroll;
	}
}
.modal--msg{
	.modal-bd{
		padding: 30px 40px;
		.bd-msg{
			display: inline-block;
			position: relative;
			padding-left: 45px;
		}
		.icon-msg-large{
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -18px;
		}
	}
}